@font-face {
  font-family: 'ruble';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble-webfont.woff2") format("woff2"), url("../fonts/rouble-webfont.woff") format("woff"), url("../fonts/rouble-webfont.ttf") format("truetype"), url("../fonts/rouble-webfont.svg#rouble-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DINPro-Regular.eot");
  src: url("../fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Regular.woff2") format("woff2"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype"), url("../fonts/DINPro-Regular.svg#DINPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*       Setups         */
body, html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'DIN',sans-serif; }

a, a:hover, a:focus, a:visited {
  text-decoration: none; }

input:focus {
  outline: none; }

/*      =============== HEADER =================        */
html {
  background: url(../img/header/bg.jpg) no-repeat top center; }

.header-top {
  min-width: 1000px;
  min-height: 438px; }

.wrapper {
  max-width: 970px;
  margin: 0 auto; }

.text-right {
  text-align: right; }

.logo {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 40px;
  margin-right: 84px; }

.form {
  text-align: center;
  width: 300px;
  margin-left: auto;
  background-color: #404040;
  padding: 0 0 31px 0; }

.phone {
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  border-bottom: 2px solid #666666;
  padding-bottom: 6px;
  display: block;
  width: 235px;
  margin: 0 auto 2px auto;
  padding-top: 11px; }

.call-back {
  display: block;
  font-size: 16px;
  color: #bdee39;
  font-weight: normal;
  border-bottom: 2px dotted #bdee39;
  width: 130px;
  margin: 0 auto 14px auto;
  position: relative; }
  .call-back:after {
    content: '';
    background: url(../img/header/sprite.png) -25px 0;
    width: 9px;
    height: 13px;
    position: absolute;
    top: 8px;
    right: -15px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.form-text {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  padding: 8px 0px;
  display: block;
  width: 234px;
  border: none;
  margin: 0 auto 2px auto;
  vertical-align: middle;
  font-family: 'DIN'; }

.form-btn {
  text-align: center;
  border: none;
  width: 234px;
  background-color: #bdee39;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 2px solid #86a532;
  padding: 4px 0px 5px 0px;
  display: block;
  margin: 0 auto;
  font-family: 'DIN';
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }
  .form-btn:hover {
    background-color: #a9d03f; }
  .form-btn:active {
    background-color: #404040;
    color: #bdee39; }

.form-box {
  display: none; }

.rotate:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.rotate360 {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }

.header-menu {
  position: relative;
  min-width: 1000px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5); }

.menu {
  background-color: #bdee39; }
  .menu ul {
    padding: 0;
    margin: 0;
    line-height: 1.1;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    width: 90%;
    margin-right: auto; }
    .menu ul li {
      display: inline-block;
      padding: 11px 5px; }
      .menu ul li a {
        font-size: 18px;
        font-weight: 500;
        color: #404040;
        text-transform: uppercase;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }

.menu li:nth-child(1) {
  padding-left: 0;
  margin-left: 0; }

.menu li a:hover {
  color: #ff4200; }

.menu li:nth-child(2) a::after {
  content: '';
  background: url(../img/header/sprite.png) -25px 0;
  width: 9px;
  height: 13px;
  top: 14px;
  right: 22px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 1px; }

.lense {
  background: url(../img/header/sprite.png) 6px 5px;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  opacity: 0.5;
  margin-top: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 3px; }

.menu-hide, .search {
  background-color: #404040;
  padding: 26px 0px;
  display: none; }

.menu-hide ul {
  margin: 0;
  padding: 0; }
  .menu-hide ul li {
    display: inline-block;
    margin-left: 77px; }

.menu-hide li:first-child {
  padding-left: 0;
  margin-left: 0; }
  .menu-hide li:first-child h2 {
    margin-left: 8px; }

.menu-hide li:nth-child(2) h2 {
  margin-left: 10px; }

.menu-hide li:nth-child(3) {
  margin-left: 73px; }

.menu-hide li:nth-child(4) {
  margin-left: 66px; }

.menu-hide h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  color: #9e9e9e;
  text-transform: uppercase;
  margin: 0;
  vertical-align: 36px;
  margin-left: 12px; }

.menu-hide img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid transparent; }

.menu-hide li:hover .menu-img {
  border: 2px solid #fff; }

.menu-hide li:hover h2 {
  color: #fff; }

.search-text {
  width: 75%;
  border: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'DIN'; }

.search-btn {
  width: 24.64%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 4px 6px 4px;
  border-bottom: 2px solid #afafaf;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: 'DIN'; }

.search-btn:hover {
  width: 24.64%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 4px 6px 4px;
  border-bottom: 2px solid #afafaf;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  background-color: #c1c1c1; }

.search-btn:focus {
  width: 25%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  padding-bottom: 6px;
  border-bottom: 2px solid #afafaf;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  background-color: #c1c1c1; }

/* ================ PROJECTS ================== */
.best-projects {
  background: url(../img/projects/pattern.jpg) repeat;
  padding-top: 25px;
  padding-bottom: 38px; }
  .best-projects h1 {
    text-align: center;
    font-size: 40px;
    color: #404040;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 33px; }

.projects-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 4px solid #404040;
  margin-bottom: 11px; }
  .projects-menu ul li:last-child a {
    width: 242.5px; }

.projects-menu li {
  display: inline-block; }

.projects-menu a {
  display: inline-block;
  text-align: center;
  width: 239px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: #858585;
  line-height: 41px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .projects-menu a:hover {
    color: #858585;
    background-color: rgba(64, 64, 64, 0.8); }

.active-menu {
  color: #fff !important;
  background-color: #404040; }

.projects-slider {
  height: 393px;
  overflow: hidden; }

.projects-content {
  display: block;
  margin-bottom: 32px; }
  .projects-content .item {
    display: block;
    width: 99.9%;
    position: relative;
    vertical-align: top; }
    .projects-content .item .item-img-box {
      -webkit-background-size: cover;
              background-size: cover;
      width: 484px;
      height: 316px; }
    .projects-content .item .project-name {
      position: absolute;
      top: -1px;
      left: 14px;
      color: #404040;
      font-weight: 500;
      font-size: 18px;
      margin: 0; }
    .projects-content .item .project-descr {
      background-color: #fff;
      padding: 6px 0 9px 0; }
      .projects-content .item .project-descr p {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0; }
    .projects-content .item .size, .projects-content .item .square, .projects-content .item .price {
      font-size: 16px;
      color: #858585;
      font-weight: 500; }
    .projects-content .item .size::before, .projects-content .item .square::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 17px; }
    .projects-content .item .size::before {
      background: url(../img/header/sprite.png) no-repeat -37px -1px; }
    .projects-content .item .square sup {
      font-size: 7px; }
    .projects-content .item .square::before {
      background: url(../img/header/sprite.png) no-repeat -57px -1px; }
    .projects-content .item img {
      width: 100%; }
    .projects-content .item .size {
      margin-left: 15px; }
      .projects-content .item .size::before {
        margin-right: 5px; }
    .projects-content .item .square {
      margin-left: 15px; }
      .projects-content .item .square::before {
        margin-right: 5px; }
    .projects-content .item .price {
      text-transform: uppercase;
      font-size: 16px; }
  .projects-content .item-sale .price {
    margin-left: 72px; }
    .projects-content .item-sale .price > span {
      font-size: 24px;
      color: #ff4200;
      margin-left: 5px; }
    .projects-content .item-sale .price sup {
      position: relative;
      font-size: 16px;
      color: #404040;
      background: url(../img/projects/line.png) no-repeat center center; }
    .projects-content .item-sale .price .price-line {
      background-color: #404040;
      display: inline-block;
      width: 107%;
      height: 0.5px;
      position: absolute;
      top: 11px;
      left: 0;
      -webkit-transform: rotate(-9deg);
          -ms-transform: rotate(-9deg);
              transform: rotate(-9deg); }
  .projects-content .item-sale .sale-price {
    position: relative;
    margin-left: 4px; }
    .projects-content .item-sale .sale-price .sale-bage {
      position: absolute;
      display: inline-block;
      width: 34px;
      height: 39px;
      top: -38px;
      left: 92px;
      background: url(../img/header/sprite.png) no-repeat 0px -15px; }
    .projects-content .item-sale .sale-price .ruble {
      color: #ff4200; }
  .projects-content .item-normal .price {
    margin-left: 162px; }
    .projects-content .item-normal .price span {
      color: #404040;
      font-size: 24px; }

#home .item-img-box {
  background: url(../img/projects/house.jpg) no-repeat center center; }

#bath .item-img-box {
  background: url(../img/projects/bath.jpg) no-repeat center center; }

#kitchen .item-img-box {
  background: url(../img/projects/kitchen.jpg) no-repeat center center; }

#found .item-img-box {
  background: url(../img/projects/found.jpg) no-repeat center center; }

.ruble {
  color: #404040;
  font-size: 24px;
  display: inline-block;
  font-family: 'ruble';
  text-transform: none; }

.item > a {
  width: 100%; }
  .item > a:hover {
    background-color: rgba(64, 64, 64, 0.2); }

.active-item {
  display: block; }

.box-effect {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(64, 64, 64, 0.8);
  opacity: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .box-effect p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .box-effect p:hover {
      color: #bdee39; }
  .box-effect .box-img {
    margin: 119px auto 11px auto;
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/header/sprite.png) no-repeat -44px -19px; }
  .box-effect:hover {
    opacity: 1; }

/* CORUSEL */
.owl-prev, .owl-next {
  position: absolute;
  opacity: 0.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }

.owl-prev {
  width: 24px;
  height: 16px;
  display: block;
  background: url(../img/header/sprite.png) no-repeat -80px -2px; }

.owl-next {
  width: 24px;
  height: 16px;
  display: block;
  background: url(../img/header/sprite.png) no-repeat -80px -19px; }

.projects-slider .owl-prev, .slider-articles .owl-prev, .slider-works .owl-prev {
  bottom: -31px;
  right: 39px; }

.projects-slider .owl-next, .slider-articles .owl-next, .slider-works .owl-next {
  bottom: -30px;
  right: 0px; }

/* ============== MAIN =============== */
.main {
  padding-top: 40px;
  padding-bottom: 29px; }
  .main a {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .main a:hover {
      color: #8d8d8d; }
  .main-content {
    width: 72.06%;
    display: inline-block; }
    .main-content > img {
      display: inline-block;
      margin-bottom: 40px; }
    .main-content h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 24px;
      padding: 0; }
    .main-content p {
      font-family: 'Verdana', sans-serif;
      font-size: 14px;
      color: #858585;
      padding: 0;
      margin: 0;
      margin-bottom: 28px;
      text-align: justify;
      line-height: 1.714; }
      .main-content p a {
        color: #404040;
        text-decoration: underline; }
  .main .advantage {
    margin-bottom: 17px; }
    .main .advantage h4 {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 24px;
      color: #404040; }
    .main .advantage .h4 {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 24px;
      color: #404040; }
    .main .advantage-item {
      margin-bottom: 24px; }
      .main .advantage-item-text {
        display: inline-block;
        vertical-align: top;
        margin-left: 16px;
        width: 623px; }
        .main .advantage-item-text span {
          font-weight: 500;
          color: #404040;
          display: inline-block;
          vertical-align: top;
          margin: 0;
          line-height: 0.7;
          font-size: 18px;
          margin-bottom: 12px; }
        .main .advantage-item-text p {
          margin: 0;
          width: 100%; }
      .main .advantage-item:last-child {
        margin-bottom: 0; }
  .main-side {
    display: inline-block;
    padding-left: 26.6px;
    vertical-align: top;
    width: 24.84%; }
    .main-side img {
      display: block;
      margin-bottom: 12px; }
    .main-side span {
      font-size: 34px;
      border-bottom: 2px solid #404040;
      display: block;
      margin-bottom: 12px; }

.verdana {
  font-family: 'Verdana', sans-serif; }

.side-list {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  padding-left: 20px; }
  .side-list li {
    list-style-image: url(../img/main/star.png); }
  .side-list a {
    display: inline-block;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
    text-decoration: underline;
    color: #404040;
    margin-bottom: 12px; }

.slider-articles {
  margin-bottom: 12px; }
  .slider-articles-content {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .slider-articles-content:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  .slider-articles .article-box {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .slider-articles .article-img {
    width: 100%;
    height: 175px; }
  .slider-articles .article-decript {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(64, 64, 64, 0.8);
    width: 100%;
    padding: 0 14px 8px 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .slider-articles .article-decript p {
      font-size: 18px;
      color: #fff;
      text-decoration: underline;
      margin: 0;
      padding: 0; }
  .slider-articles .outside {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #404040;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    margin-left: 5px; }
  .slider-articles-content {
    margin-bottom: 12px; }

.slider-works-content {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .slider-works-content:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

.slider-works span {
  margin-bottom: 16px; }

.slider-works .works-box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.slider-works .works-img {
  width: 100%;
  height: 175px; }

.slider-works .works-decript {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(64, 64, 64, 0.8);
  width: 100%;
  padding: 0 14px 8px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .slider-works .works-decript p {
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
    margin: 0;
    padding: 0; }

.slider-works .outside {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #404040;
  text-decoration: underline;
  margin-left: 5px; }

.slider-works-content {
  margin-bottom: 12px; }

/* ============= FOOTER =============== */
.footer {
  background-color: #d9d9d9;
  padding-top: 21px;
  padding-bottom: 35px; }
  .footer .line {
    height: 2px;
    width: 100%;
    background-color: #bababa;
    margin-bottom: 7px; }
  .footer-box {
    display: inline-block;
    vertical-align: top; }
    .footer-box p {
      margin: 0;
      padding: 0; }
    .footer-box h5 {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 7px;
      padding-bottom: 2px;
      border-bottom: 2px solid #bababa; }
    .footer-box .h5 {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 7px;
      padding-bottom: 2px;
      border-bottom: 2px solid #bababa; }
  .footer .footer-box_1 .statis {
    margin-bottom: 22px;
    width: 88px;
    height: 15px;
    background: url(../img/footer/statis.jpg); }
  .footer .footer-box_1 p {
    font-size: 12px;
    color: #404040; }
  .footer .footer-box_1 .copyright {
    margin-bottom: 46px; }
  .footer .footer-box_1 .develop {
    text-decoration: underline; }
  .footer .footer-box_1 a {
    font-size: 12px;
    color: #858585;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .footer .footer-box_1 a:hover {
      color: #a6a6a6; }
  .footer .footer-box_2 {
    margin-left: 2.7%;
    width: 25%; }
    .footer .footer-box_2 p {
      font-size: 16px;
      color: #858585; }
    .footer .footer-box_2 .footer-email {
      font-size: 14px;
      color: #404040;
      text-decoration: underline;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      display: inline-block;
      margin-bottom: 24px; }
      .footer .footer-box_2 .footer-email:hover {
        color: #a6a6a6; }
    .footer .footer-box_2 .social-descript {
      font-size: 14px;
      margin-bottom: 1px; }
    .footer .footer-box_2 .fb {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(../img/header/sprite.png);
      background-position: -1px -55px;
      margin-top: 6px;
      opacity: 0.6;
      margin-left: 3px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .footer .footer-box_2 .fb:hover {
        opacity: 1; }
    .footer .footer-box_2 .vk {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(../img/header/sprite.png);
      background-position: -25px -55px;
      margin-top: 6px;
      opacity: 0.6;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .footer .footer-box_2 .vk:hover {
        opacity: 1; }
  .footer .footer-box_3 {
    margin-left: 2.6%;
    width: 25%; }
    .footer .footer-box_3 a {
      font-weight: 500;
      font-size: 16px;
      color: #404040;
      display: inline-block;
      margin-bottom: 6px; }
    .footer .footer-box_3 p {
      font-size: 14px;
      color: #858585; }
  .footer .footer-box_4 {
    margin-left: 2.6%;
    width: 24.7%; }
    .footer .footer-box_4 a {
      font-weight: 500;
      font-size: 16px;
      color: #404040;
      display: inline-block;
      margin-bottom: 5px; }
      .footer .footer-box_4 a span {
        font-size: 14px;
        color: #858585; }
    .footer .footer-box_4 p {
      font-size: 14px;
      color: #858585;
      margin-bottom: 6px; }
    .footer .footer-box_4 .footer-adress {
      margin-bottom: 7px;
      display: inline-block; }
    .footer .footer-box_4 .call-descript {
      margin-bottom: 5px; }

/* ============= MENU BREAD SCRUMBS =============== */
.breadcrumbs {
  padding: 14px 0; }
  .breadcrumbs-box a {
    color: #404040;
    font-size: 14px;
    text-decoration: underline; }
    .breadcrumbs-box a .bread-arrow {
      display: inline-block;
      width: 13px;
      height: 9px;
      background: url(../img/header/sprite.png) no-repeat -84px -43px;
      margin-left: 5px;
      margin-right: 5px; }
  .breadcrumbs-box .actual {
    display: inline-block;
    color: #858585;
    margin: 0;
    padding: 0; }

/* ============= MAIN (ELEMENTS.HTML) =============== */
.main-content h1 {
  margin: 0;
  color: #404040;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 31px;
  margin-bottom: 32px; }

.main-content .h1 {
  margin: 0;
  color: #404040;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 31px;
  margin-bottom: 32px; }

.main-content h3 {
  margin: 0;
  font-size: 30px;
  color: #404040;
  font-weight: normal;
  margin-bottom: 18px; }

.main-content .h3 {
  margin: 0;
  font-size: 30px;
  color: #404040;
  font-weight: normal;
  margin-bottom: 18px; }

.main-content h4 {
  margin: 0;
  font-size: 24px;
  color: #404040;
  font-weight: 500;
  margin-bottom: 24px; }

.main-content .h4 {
  margin: 0;
  font-size: 24px;
  color: #404040;
  font-weight: 500;
  margin-bottom: 24px; }

.main-content h5 {
  margin: 0;
  font-size: 18px;
  color: #404040;
  font-weight: 500;
  margin-bottom: 10px; }

.main-content .h5 {
  margin: 0;
  font-size: 18px;
  color: #404040;
  font-weight: 500;
  margin-bottom: 10px; }

.main-content p strong {
  color: #404040; }

.main-list {
  padding: 0;
  margin: 0;
  padding-left: 20px; }
  .main-list li {
    list-style-image: url(../img/main/star.png);
    font-family: 'Verdana', sans-serif;
    color: #858585;
    margin-bottom: 25px; }
  .main-list .sub-menu {
    padding-top: 25px;
    padding-left: 18px; }
    .main-list .sub-menu li {
      list-style-image: none;
      list-style-type: disc; }

.main .num-list {
  padding: 0;
  margin: 0;
  counter-reset: myCounter;
  margin-bottom: 28px; }
  .main .num-list li {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #858585;
    text-align: justify;
    line-height: 1.714;
    list-style: none; }
    .main .num-list li::before {
      content: "" counter(myCounter) " - ";
      counter-increment: myCounter;
      font-style: bold; }

/* ============= SECTION FORM (ELEMENTS.HTML) =============== */
.form-section {
  padding-bottom: 51px; }
  .form-section-box {
    width: 72.06%; }
    .form-section-box h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 17px;
      padding: 0; }
    .form-section-box .h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 17px;
      padding: 0; }
    .form-section-box p {
      padding: 0;
      margin: 0;
      font-size: 30px;
      color: #404040;
      margin-bottom: 29px; }
    .form-section-box form {
      background-color: #404040;
      padding: 60px 30px 70px; }
      .form-section-box form label {
        max-width: 100%; }
      .form-section-box form textarea {
        width: 97.5%;
        height: 44px;
        font-weight: normal;
        font-size: 16px;
        font-family: 'DIN';
        padding-top: 5px;
        padding-left: 14px;
        overflow: auto;
        border: none; }
      .form-section-box form .form-name, .form-section-box form .form-phone {
        display: block; }
      .form-section-box form .form-name, .form-section-box form .form-phone, .form-section-box form .form-mail {
        width: 46.95%;
        font-weight: normal;
        font-size: 16px;
        padding: 8px 0 8px 15px;
        border: none;
        margin-bottom: 14px;
        vertical-align: middle;
        font-family: 'DIN'; }
      .form-section-box form p {
        font-family: 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        color: #858585;
        display: inline-block;
        margin: 0; }
      .form-section-box form input[type="checkbox"], .form-section-box form input[type="radio"] {
        display: none; }
      .form-section-box form input[type="checkbox"] + label {
        position: relative;
        padding-left: 26px;
        cursor: pointer; }
      .form-section-box form label[for="subscribe-check"] {
        font-family: 'Verdana', sans-serif;
        font-size: 12px;
        color: #858585;
        font-style: italic;
        margin-left: 25px;
        top: -8px; }
        .form-section-box form label[for="subscribe-check"]::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url(../img/header/sprite.png);
          background-position: -143px -0px;
          position: absolute;
          left: 0;
          top: 0; }
      .form-section-box form input[type="checkbox"]:checked + label:before {
        background-position: -162px 0; }
      .form-section-box form input[type="file"] {
        width: 100%;
        height: 25px;
        z-index: 5;
        position: relative;
        cursor: pointer;
        opacity: 1;
        margin-left: auto;
        opacity: 0; }
      .form-section-box form .add-file {
        position: relative;
        margin-bottom: 17px; }
        .form-section-box form .add-file .fake-add {
          color: #858585;
          font-style: italic;
          text-decoration: underline;
          position: absolute;
          right: 26px;
          top: 5px; }
          .form-section-box form .add-file .fake-add::after {
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            background: url(../img/header/sprite.png) no-repeat -144px -39px;
            position: absolute;
            right: -27px;
            top: 1px; }
      .form-section-box form .form-connect {
        display: block;
        margin-bottom: 24px; }
        .form-section-box form .form-connect span {
          font-family: 'Verdana', sans-serif;
          color: #fff;
          font-size: 14px; }
      .form-section-box form input[type=radio] + label {
        position: relative;
        padding-left: 26px;
        cursor: pointer;
        color: #858585;
        font-size: 12px;
        font-family: 'Verdana', sans-serif; }
        .form-section-box form input[type=radio] + label::before {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          background: url(../img/header/sprite.png) no-repeat -143px -18px;
          position: absolute;
          left: 0;
          top: 0px; }
      .form-section-box form input[type="radio"]:checked + label:before {
        background-position: -162px -18px; }
      .form-section-box form label[for="to-phone"] {
        margin-left: 51px; }
      .form-section-box form label[for="to-email"] {
        margin-left: 14px; }
      .form-section-box form .form-select {
        font-family: 'Verdana', sans-serif;
        color: #fff;
        font-size: 14px;
        margin-bottom: 24px; }
        .form-section-box form .form-select .select-time {
          display: inline-block;
          position: relative;
          top: 4px;
          vertical-align: top;
          margin-left: 23px; }
          .form-section-box form .form-select .select-time > div {
            display: inline-block;
            background-color: #fff;
            padding: 7px 10px;
            position: relative;
            padding-right: 30px;
            width: 113px;
            vertical-align: top;
            cursor: pointer;
            border: 1px solid #e4e4e4;
            color: #767676;
            font-size: 12px; }
            .form-section-box form .form-select .select-time > div::after {
              content: '';
              width: 30px;
              height: 26px;
              position: absolute;
              background: url(../img/header/sprite.png) no-repeat -184px 0;
              right: 0;
              top: 0; }
        .form-section-box form .form-select .select-list {
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          top: 30px;
          left: 0px;
          background-color: #fff;
          border-right: 1px solid #e4e4e4;
          border-left: 1px solid #e4e4e4;
          width: 153px;
          display: none; }
          .form-section-box form .form-select .select-list li {
            color: #767676;
            font-size: 12px;
            cursor: pointer;
            padding: 7px 10px;
            border-top: 1px solid #e4e4e4;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s; }
            .form-section-box form .form-select .select-list li:hover {
              background-color: #bdee39; }
      .form-section-box form input[type="submit"] {
        display: inline-block;
        float: right;
        padding: 4px 0 5px 0;
        font-family: 'DIN';
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #404040;
        background-color: #bdee39;
        border: none;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        border-bottom: 2px solid #86a532;
        cursor: pointer;
        vertical-align: middle;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        padding: 7px 49px;
        position: relative;
        top: -9px; }
        .form-section-box form input[type="submit"]:hover {
          background-color: #a9d03f; }
        .form-section-box form input[type="submit"]:active {
          background-color: #404040;
          color: #bdee39; }

/* ============= TABLE (ELEMENTS.HTML) =============== */
.table-section {
  padding-bottom: 50px; }
  .table-section .table {
    width: 72.06%; }
    .table-section .table tr {
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .table-section .table tr:hover {
        background-color: #ebebeb; }
    .table-section .table table {
      width: 100%;
      border-collapse: collapse; }
    .table-section .table h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 33px;
      padding: 0; }
    .table-section .table .h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 33px;
      padding: 0; }
    .table-section .table td {
      border: 1px solid #ebebeb;
      vertical-align: top;
      text-align: center;
      font-family: 'Verdana';
      padding: 13px; }
      .table-section .table td .ruble {
        font-size: 14px; }
    .table-section .table tr:first-child th:first-child {
      background-color: #EBEBEB;
      font-size: 24px;
      font-weight: 500;
      padding: 2px;
      padding-bottom: 9px;
      width: 37%;
      font-family: 'DIN'; }
    .table-section .table tr:first-child th:last-child {
      background-color: #bdee39;
      font-size: 24px;
      font-weight: 500;
      padding: 2px;
      padding-bottom: 9px;
      font-family: 'DIN'; }
    .table-section .table tr td:first-child {
      font-weight: bold; }

/* ============= REVIEWS (ELEMENTS.HTML) =============== */
.reviews {
  padding-bottom: 27px; }
  .reviews-avatar {
    width: 80px;
    height: 80px;
    display: inline-block; }
  .reviews .advantage {
    margin-bottom: 17px; }
    .reviews .advantage h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 33px;
      padding: 0; }
    .reviews .advantage .h2 {
      font-weight: 500;
      text-transform: uppercase;
      color: #404040;
      font-size: 30px;
      margin: 0;
      margin-bottom: 33px;
      padding: 0; }
    .reviews .advantage-item {
      margin-bottom: 24px; }
      .reviews .advantage-item-text {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        width: 623px; }
        .reviews .advantage-item-text span {
          font-weight: 500;
          color: #404040;
          display: inline-block;
          vertical-align: top;
          margin: 0;
          line-height: 0.7;
          font-size: 18px;
          margin-bottom: 15px; }
        .reviews .advantage-item-text p {
          margin: 0;
          width: 100%;
          font-family: 'Verdana', sans-serif;
          color: #858585;
          line-height: 1.7; }
      .reviews .advantage-item:last-child {
        margin-bottom: 0; }

/* ============= FAQ (ELEMENTS.HTML) =============== */
.faq {
  padding-bottom: 48px; }
  .faq h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #404040;
    font-size: 30px;
    margin: 0;
    margin-bottom: 33px;
    padding: 0; }
  .faq .h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #404040;
    font-size: 30px;
    margin: 0;
    margin-bottom: 33px;
    padding: 0; }
  .faq .faq-item {
    margin-bottom: 2px;
    width: 100%;
    overflow: hidden; }
    .faq .faq-item .quest {
      background-color: #ececec;
      padding: 6px 75px 12px 13px;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .faq .faq-item .quest a {
        width: 100%;
        display: inline-block; }
      .faq .faq-item .quest span {
        font-size: 18px;
        color: #404040;
        border-bottom: 1px dashed #404040;
        display: inline; }
      .faq .faq-item .quest .faq-arrow {
        display: block;
        width: 14px;
        height: 20px;
        background: url(../img/header/sprite.png) no-repeat -179px -82px;
        position: absolute;
        top: 11px;
        right: 15px;
        opacity: 0.4;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
    .faq .faq-item .answer {
      border: 0px solid #bdee39;
      border-top: none;
      font-family: 'Verdana', sans-serif;
      color: #767676;
      padding: 0;
      line-height: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.quest:target {
  background-color: #bdee39 !important;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.quest:target + .answer {
  border: 2px solid #bdee39;
  padding: 6px 11px 12px 11px;
  line-height: 1.7; }

.quest:target .faq-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1 !important; }

/* ============= QUOTE (ELEMENTS.HTML) =============== */
.quote {
  padding-bottom: 59px; }
  .quote h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #404040;
    font-size: 30px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0; }
  .quote .h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #404040;
    font-size: 30px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0; }
  .quote .quote-box {
    width: 100%;
    position: relative; }
    .quote .quote-box .quote-left {
      background-color: #bdee39;
      display: inline-block;
      width: 8.7%;
      height: 100%;
      position: absolute;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .quote .quote-box .quote-right {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: inline-block;
      width: 100%;
      font-family: 'Verdana', sans-serif;
      color: #404040;
      font-style: italic;
      background-color: #ececec;
      padding: 25px 10px 25px 10.3%;
      line-height: 1.7; }
