@import './node_modules/susy/sass/susy';

$susy: (
        'columns': susy-repeat(48),
        'gutters': 0,
        'spread': 'narrow',
        'container-spread': 'narrow',
);

.send {
    padding-top: 39px;
    &__text {
        margin-bottom: 105px;
    }
    &__form {
        background-color: #524570;
        margin: 0 -20px;
        padding: 35px 20px 39px;
    }
    &__container {
        font-size: 0;
    }
    @media (min-width: 768px) {
        padding-top: 137px;
        &__text {
            margin-bottom: 0;
            display: inline-block;
            vertical-align: top;
            width: span(6 of 12);
            padding-top: 13px;
        }
        &__form {
            display: inline-block;
            vertical-align: top;
            width: span(5.5 of 12);
            margin-left: span(0.5 of 12);
            box-sizing: border-box;
            padding: 30px 56px 43px 32px;
            max-width: 370px;
        }
    }
    @media (min-width: 1240px) {
        padding-top: 207px;
        &__text {
            width: span(5.5 of 12);
            padding-top: 5px;

        }
        &__form {
            width: span(4 of 12);
            max-width: 375px;
            margin-left: span(0.5 of 12);
            padding: 29px 50px 43px 30px;
        }
    }
}

.button {
    background: none;
    border: none;
    font-family: reg;
    padding: 0;
    &--red {
        line-height: 60px;
        background-color: #f05e13;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }
    &--border-red {
        line-height: 60px;
        font-size: 16px;
        color: #fff;
        border: 1px solid #f05e13;
        text-align: center;
    }
}

.input {
    input {
        height: 60px;
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        background-color: transparent;
        box-sizing: border-box;
        font-family: reg;
        padding-left: 17px;
        border: none;
        border-radius: 0;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
    }
    &--dark {
        input {
            color: rgba(255, 255, 255, 0.7);
            border: 1px solid #fff;
        }
    }
}

.textarea {
    textarea {
        height: 154px;
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        background-color: transparent;
        box-sizing: border-box;
        font-family: reg;
        padding-left: 17px;
        padding-top: 14px;
        resize: none;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
    }
    &--dark {
        textarea {
            color: rgba(255, 255, 255, 0.7);
            border: 1px solid #fff;
        }
    }
}

.text--send {
    h2 {
        color: #0d283c;
        font-size: 21px;
        line-height: 24px;
        font-family: sp;
        margin-bottom: 22px;
    }
    li {
        color: #505769;
        font-size: 14px;
        line-height: 17px;
        & + li {
            margin-top: 14px;
        }

    }
    @media (min-width: 768px) {
        h2 {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 12px;
        }
        li {
            font-size: 18px;
            line-height: 21px;
            position: relative;
            padding-left: 16px;
            box-sizing: border-box;
            width: span(4.8 of 6);
            & + li {
                margin-top: 10px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 7px;
                height: 7px;
                background-color: #524570;
                border-radius: 50%;
            }
        }
        .underlined {
            &::before {
                height: 14px;
            }
        }
    }
    @media (min-width: 1240px) {
        h2 {
            font-size: 48px;
            margin-bottom: 50px;
            line-height: 57px;
        }
        li {
            font-size: 24px;
            width: 100%;
            & + li {
                margin-top: 20px;
            }
            &::before {
                top: 9px;
            }
        }
        .underlined {
            &::before {
                height: 17px;
            }
        }
    }
}

.form {
    &.ok {
        .form__body {
            transform: scale(0.8);
            left: 20px;
            opacity: 0;
            transition: transform 0.2s ease, left 0.2s ease 0.15s, opacity 0.2s ease 0.15s;
            pointer-events: none;
        }
        .form__response {
            transform: scale(1);
            left: 0;
            opacity: 1;
            transition: transform 0.2s ease 0.6s, left 0.2s ease 0.4s, opacity 0.2s ease 0.4s;
            pointer-events: all;
        }
    }
    &__input--main + .form__textarea {
        margin-top: 15px;
    }
    &__title--main {
        font-size: 18px;
        margin-bottom: 27px;
        font-family: sp;
        color: #fff;
    }
    &__body {
        position: relative;
        left: 0;
        transition: transform 0.2s ease 0.6s, left 0.2s ease 0.4s, opacity 0.2s ease 0.4s;
    }
    &__button--submite-main {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        max-width: 280px;
    }
    &__textarea--main {
        margin-bottom: 20px;
        max-width: 280px;
    }
    &__privacy--main {
        font-size: 12px;
        color: #fff;
        max-width: 280px;
    }
    &__input--main {

        max-width: 280px;
    }
    &--main {
        position: relative;
    }
    &__img {
        position: absolute;
        bottom: 97.4%;
        left: 11px;
        z-index: -1;
        width: 266px;
    }
    &__text--response-main {
        max-width: 210px;
        h4 {
            color: #fff;
        }
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    &__response--main {
        position: absolute;
        padding: 29px 0 0 31px;
        box-sizing: border-box;
        top: 0;
        left: -20px;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        transition: transform 0.2s ease, left 0.2s ease 0.15s, opacity 0.2s ease 0.15s;
    }
    &__button--back-main {
        width: 100%;
        max-width: 215px;
        position: absolute;
        bottom: 32px;
        left: 32px;
    }
    &__preloader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
        }
    }
    @media (min-width: 768px) {
        &__title--main {
            font-size: 24px;
        }
        &__button--submite-main {
            max-width: 215px;
        }
        &__privacy--main {
            max-width: 215px;
        }
        &__img{
            position: absolute;
            bottom: 96.8%;
            left: 17px;
            z-index: -1;
            width: 299px;
        }
    }
    @media (min-width: 1240px) {
        &__title--main {
            font-size: 30px;
            white-space: nowrap;
            margin-bottom: 22px;
        }
        &__img {
            width: 360px;
            bottom: 95.9%;
            left: 9px;
        }
    }
}

.text--response-main {
    h4 {
        font-size: 36px;
        font-family: sp;
        margin-bottom: 28px;
    }
    p {
        font-size: 21px;
    }
}

.quote {
    &__body {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        padding: 49px 0 20px;
    }
    &__text {
        padding-left: span(1 of 12);
        margin-bottom: 40px;
        max-width: 350px;
    }
    &__photo {
        padding-left: span(1 of 12);
        img {
            width: 50px;
            display: inline-block;
            vertical-align: middle;
        }
        p {
            font-size: 14px;
            margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    @media (min-width: 768px) {
        text-align: center;
        &__body {
            padding: 46px 0 46px;
        }
        &__text {
            text-align: center;
            max-width: 728px;
            padding-left: 0;
            margin: 0 auto 33px;
            p {
                max-width: 560px;
                display: inline-block;
            }
        }
        &__photo {
            padding-left: 0;
            width: 130px;
            text-align: center;
            display: inline-block;
            img {
                width: 81px;
                margin-bottom: 16px;
            }
            p {
                font-size: 18px;
                margin-left: 0;
            }
        }
    }
    @media (min-width: 1240px) {

        &__body {
            padding: 75px 0 71px;
        }
        &__text {
            max-width: 875px;
            margin: 0 auto 53px;
            p {
                max-width: 670px;
            }
        }
        &__photo {
            width: 175px;
            img {
                width: 100px;
            }
            p {
                font-size: 24px;
            }
        }
    }
}

.text--quote {
    font-size: 16px;
    line-height: 19px;
    color: #0d283c;
    font-family: sp;
    position: relative;
    &::before, &::after {
        position: absolute;
        font-family: ats;
        color: #f05e13;
        font-size: 70px;
    }
    &::before {
        bottom: 100%;
        left: 0;
        content: '«';
    }
    &::after {
        top: 110%;
        right: 17%;
        content: '»';
    }
    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 36px;
        &::before, &::after {
            top: 64%;
            font-size: 144px;
            transform: translate(0, -50%);
        }
        &::before {
            bottom: auto;
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    @media (min-width: 1240px) {
        font-size: 36px;
        line-height: 43px;
    }
}

.shade {
    padding: 31px 0 36px;
    background-color: #f2eee3;
    &__title {
        font-size: 21px;
        color: #0d283c;
        margin-bottom: 24px;
        font-family: sp;
    }
    &__list {
        max-width: 400px;
    }
    @media (min-width: 768px) {
        padding: 39px 0 42px;
        &__title {
            font-size: 36px;
            margin-bottom: 19px;
        }
        &__list {
            max-width: none;
            width: 64.33333%;
        }
    }
    @media (min-width: 1240px) {
        padding: 56px 0 67px;
        &__title {
            font-size: 48px;
            margin-bottom: 52px;
        }
        &__list {
            width: 101%;
        }
    }
}

.list {
    &__item--shade {
        p {
            color: #0d283c;
            font-size: 14px;
            line-height: 16px;
        }
        span {
            font-family: bold;
        }
        a {
            color: #2c6ff8;
        }
        & + .list__item {
            margin-top: 20px;
        }
    }
    @media (min-width: 768px) {
        &__item--shade {
            p {
                font-size: 18px;
                line-height: 21px;
            }
            & + .list__item {
                margin-top: 27px;
            }
        }

    }
    @media (min-width: 1240px) {
        &__item--shade {
            display: inline-block;
            max-width: 457px;
            margin-right: 104px;
            margin-bottom: 46px;
            vertical-align: top;
            p {
                font-size: 21px;
                line-height: 24px;
            }
            & + .list__item {
                margin-top: 0;
            }
        }

    }
}

.footer {
    &__body {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        padding: 33px 0 35px;
        text-align: center;
    }
    &__link {
        font-size: 30px;
        color: #2c6ff8;
        font-family: sp;
        display: block;
        text-align: center;
        & + .footer__link {
            margin-top: 25px;
        }
        &--inline {
            display: inline-block;
            & + .footer__link {
                margin-left: 9px;
                &:before {
                    content: ' / ';

                }
            }
        }
    }
    &__bottom {
        text-align: center;
        padding: 19px 0 17px;
        a {
            color: #2c6ff8;
            font-size: 14px;
        }
    }
    @media (min-width: 768px) {
        &__body {
            padding: 35px 0 59px;
        }
        &__link {
            font-size: 60px;
            & + .footer__link {
                margin-top: 40px;
            }
            &--inline {
                & + .footer__link {
                    margin-left: 18px;
                }
            }
        }
        &__bottom {
            padding: 20px 0 17px;
            a {
                font-size: 20px;
            }
        }
    }
    @media (min-width: 1240px) {
        &__body {
            padding: 58px 0 60px;
        }
        &__link {
            font-size: 72px;
            & + .footer__link {
                margin-top: 50px;
            }
            &--inline {
                & + .footer__link {
                    margin-left: 26px;
                }
            }
        }
        &__bottom {
            padding: 22px 0 15px;
        }
    }
}

.exp {
    padding: 48px 0 33px;
    &__title {
        margin-bottom: 32px;
        font-family: sp;
        font-size: 21px;
        line-height: 24px;
        color: #0d283c;
    }
    &__img {
        max-width: 560px;
        img {
            width: 100%;
            margin-bottom: 8px;
        }
        & > p {
            font-size: 14px;
            color: #505769;
        }
        &--second {
            display: none;
        }
    }
    &__list {
        margin-bottom: 20px;
        max-width: 560px;
    }
    &__aside {
        display: none;
    }
    @media (min-width: 768px) {
        padding: 71px 0 62px;
        &__title {
            margin-bottom: 52px;
            font-size: 36px;
            line-height: 36px;
            span::before{
                bottom: 6px;
            }
        }
        &__container {
            font-size: 0;
        }
        &__img {
            max-width: none;
            img {
                margin-bottom: 9px;
            }
            &--first {
                margin-bottom: 32px;
            }
            &--second {
                display: block;
            }
        }
        &__list {
            width: span(6 of 12);
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
            max-width: none;
        }
        &__images {
            display: inline-block;
            vertical-align: top;
            width: span(5 of 12);
            margin-left: span(1 of 12);
        }
    }
    @media (min-width: 1240px) {
        padding: 94px 0 105px;
        &__aside {
            display: block;
            position: absolute;
            top: 11px;
            left: 110%;
            text-align: center;
            width: 85px;
            span {
                font-size: 150px;
                color: #f05e13;
                width: 52px;
                height: 54px;
                margin-bottom: 11px;
                font-family: ats;
                display: inline-block;
            }
            p {
                font-size: 16px;
                line-height: 21px;
            }
        }
        &__title {
            width: span(7 of 12);
            margin-bottom: 55px;
            font-size: 48px;
            line-height: 57px;
        }
        &__img {
            img {
                margin-bottom: 10px;
            }
            & > p {
                font-size: 16px;
            }
            &--first {
                margin-bottom: 46px;
            }
            &--second {
                width: 71.7%;
                position: relative;
            }
        }
    }
}

.list__item--exp {
    h5 {
        color: #0d283c;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 9px;
        font-family: bold;
    }
    p {
        color: #454545;
        font-size: 14px;
        line-height: 16px;
    }
    a {
        color: #2c6ff8;
    }
    & + .list__item {
        margin-top: 30px;
    }
    @media (min-width: 768px) {
        h5 {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 14px;
        }
        p {
            font-size: 16px;
            line-height: 18px;
        }
        & + .list__item {
            margin-top: 38px;
        }
    }
    @media (min-width: 1240px) {
        h5 {
            font-size: 21px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
        & + .list__item {
            margin-top: 42px;
        }
    }
}

.principles {
    padding: 39px 0 45px;
    &__title {
        margin-bottom: 22px;
        font-size: 21px;
        font-family: sp;
        line-height: 24px;
        color: #0d283c;
    }
    &__list {
        max-width: 400px;
    }
    @media (min-width: 768px) {
        padding: 79px 0 43px;
        &__title {
            margin-bottom: 60px;
            font-size: 36px;
            line-height: 36px;
            span {
                &::before {
                    background: url(/img/stroke4.svg) left center no-repeat;
                    width: 81%;
                    bottom: -4px;
                }
            }
        }
        &__list {
            max-width: none;
            width: span(7 of 12);
        }
    }
    @media (min-width: 1240px) {
        padding: 123px 0 89px;
        &__title {
            margin-bottom: 36px;
            font-size: 48px;
            line-height: 54px;
            width: span(6 of 12);
            span:before {
                bottom: 6px;
                z-index: -1;
            }
        }
    }
}

.list__item--principles + .list__item {
    margin-top: 31px;
    @media (min-width: 1240px){
        margin-top: 49px;
    }
}

.principe {
    &__title {
        color: #0d283c;
        font-size: 16px;
        line-height: 18px;
        font-family: bold;
        margin-bottom: 17px;
    }
    &__text {
        margin-bottom: 14px;
    }
    &__aside {
        img {
            width: 49.1%;
            & + p {
                margin-top: 7px;
            }

        }
        p {
            font-size: 14px;
            line-height: 16px;
            color: #0f0f0f;
            width: span(5.5 of 12);
        }
        a {
            color: #2c6ff8;
            font-size: 14px;
            & + a {
                margin-left: 34px;
            }
        }
        span {
            font-size: 14px;
            color: #f15f10;
        }
    }
    @media (min-width: 768px) {
        &__title {
            font-size: 21px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        &__body {
            position: relative;
        }
        &__aside {
            position: absolute;
            top: 0;
            left: 114%;
            img {
                width: 118.3%;
                & + p {
                    margin-top: 13px;
                }

            }
            p {
                font-size: 16px;
                line-height: 18px;
                color: #0f0f0f;

                width: 170px;

            }
            a {
                font-size: 16px;
                & + a {
                    margin-left: 0;
                    margin-top: 16px;
                    display: block;
                }
            }
            span {
                font-size: 16px;
                line-height: 18px;
                width: 120px;
                display: block;
            }
        }

    }
    @media (min-width: 1240px) {
        &__title {
            font-size: 24px;
            margin-bottom: 24px;
        }
        &__aside {
            left: 114%;
            img {
                width: 107%;
                & + p {
                    margin-top: 17px;
                }

            }
            p {
                font-size: 18px;
                line-height: 21px;
                width: 190px;

            }
            a {
                font-size: 18px;
                & + a {
                    margin-top: 11px;
                }
            }
            span {
                font-size: 18px;
                line-height: 21px;
                width: 135px;
            }
        }

    }

}

.text--principe {
    font-size: 14px;
    line-height: 17px;
    color: #505769;
    * + * {
        margin-top: 17px;
    }
    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 19px;
    }
    @media (min-width: 1240px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.examples {
    padding: 48px 0 40px;
    &__title {
        font-size: 21px;
        font-family: sp;
        margin-bottom: 30px;
    }
    &__img {
        img {
            width: 100%;
        }
        &--first {
            margin-bottom: 46px;
        }
        &--second {
            margin-bottom: 20px;
        }
        &--four {
            margin-bottom: 30px;
        }

    }
    &__left {
        margin-bottom: 20px;
    }
    &__form {
        position: relative;
        max-width: 280px;
        .button--border-red {
            color: #2c2c2c;
        }
    }
    &__aside {
        text-align: center;
        margin-bottom: 36px;
        span {
            font-family: ats;
            font-size: 144px;
            color: #f05e13;
            margin-bottom: -29px;
            display: inline-block;
            letter-spacing: -10px;
        }
        p {
            color: #505769;
            font-size: 16px;
            line-height: 21px;
            width: 140px;
            margin: 0 auto;
        }
    }
    @media (min-width: 768px) {
        padding: 63px 0 67px;
        &__title {
            font-size: 36px;
            margin-bottom: 31px;
        }
        &__left {
            font-size: 0;
        }
        &__aside {
            display: inline-block;
            vertical-align: top;
            width: span(3 of 12);
            padding-top: 17px;
            margin-bottom: 0;
        }
        &__img {
            &--first {
                margin-bottom: 20px;
            }
            &--second {
                margin-bottom: 25px;
                img {
                    display: inline-block;
                    vertical-align: top;
                    width: span(8.5 of 12);
                    margin-left: span(0.5 of 12);
                }
            }
            &--third {
                margin-bottom: 25px;
            }
            &--four {
                display: inline-block;
                vertical-align: top;
                width: span(7 of 12);
                margin-bottom: 0;
            }
        }
        &__right {
            font-size: 0;
        }
        &__form {
            padding-top: 14px;
            display: inline-block;
            vertical-align: top;
            width: span(4 of 12);
            margin-left: span(0.5 of 12);
            max-width: 245px;
        }
    }
    @media (min-width: 1240px) {
        padding: 89px 0 92px;
        &__title {
            font-size: 48px;
            margin-bottom: 45px;
        }
        &__left {
            display: inline-block;
            vertical-align: top;
            width: span(6.5 of 12);
            margin-bottom: 0;
        }
        &__right {
            display: inline-block;
            vertical-align: top;
            width: span(5 of 12);
            margin-left: span(0.5 of 12);
        }
        &__container {
            font-size: 0;
        }
        &__aside {
            width: span(2 of 6.5);
            padding-top: 17px;
        }
        &__img {
            &--first {
                margin-bottom: 40px;
            }
            &--second {
                margin-bottom: 50px;
                img {
                    width: 67.17143%;
                    margin-left: 4.2%;
                }
            }
            &--third {
                margin-bottom: 0;
            }
            &--four {
                width: 100%;
                margin-bottom: 100px;
            }
        }
        &__form {
            padding-top: 0;
            width: 100%;
            margin-left: 0;
            max-width: 280px;
        }
    }
}

.form {
    &__title--example {
        font-size: 18px;
        color: #2c2c2c;
        font-family: sp;
        margin-bottom: 20px;
    }
    &__input--example {
        margin-bottom: 15px;
    }
    &__textarea--example {
        margin-bottom: 20px;
        textarea{
            height: 195px;
            padding-top: 19px;
        }
    }
    &__button--submite-example {
        width: 100%;
        margin-bottom: 10px;
    }
    &__privacy--example {
        font-size: 12px;
        color: #2c2c2c;
    }
    &__text--response-example {
        max-width: 210px;
    }
    @media (min-width: 768px) {
        &__title--example {
            font-size: 24px;
        }
        &__button--submite-example {
            max-width: 215px;
        }
        &__privacy--example {
            max-width: 215px;
        }
    }
    @media (min-width: 1240px) {
        &__title--example {
            font-size: 30px;
            margin-bottom: 22px;
            white-space: nowrap;
        }
        &__button--submite-example {
            max-width: 215px;
        }
        &__privacy--example {
            max-width: 215px;
        }
        &__textarea--example {
            textarea {
                height: 195px;
            }

        }
    }
}

.input--white {
    input {
        border: 1px solid #262626;
        color: rgba(42, 42, 42, 0.7);
    }
}

.textarea--white {
    textarea {
        border: 1px solid #262626;
        color: rgba(42, 42, 42, 0.7);
    }
}

@media (min-width: 1240px) {
    a {
        transition: 0.3s ease;
        &:hover {
            color: #1750c4;
        }
    }

    .button--red {
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0px 10px 35px 0 rgba(240, 94, 19, 0.3);
            transform: translate(0, -5px);
        }
    }
    .input {
        input {
            transition: 0.3s ease;
        }
        &--dark {

            input:hover {
                color: rgba(255, 255, 255, .85);
            }

            input:focus {
                color: rgba(255, 255, 255, 1);
            }

        }
        &--white {

            input:hover {
                color: rgba(42, 42, 42, .85);
            }

            input:focus {
                color: rgba(42, 42, 42, 1);
            }

        }
    }
    .textarea {
        textarea {
            transition: 0.3s ease;
        }
        &--dark {

            textarea:hover {
                color: rgba(255, 255, 255, .85);
            }

            textarea:focus {
                color: rgba(255, 255, 255, 1);
            }

        }
        &--white {

            textarea:hover {
                color: rgba(42, 42, 42, .85);
            }

            textarea:focus {
                color: rgba(42, 42, 42, 1);
            }

        }
    }
    .button--border-red{
        transition: 0.3s ease;
        &:hover{
            background-color: #f05e13;
        }
    }
}

@import '_fonts.scss';