@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSan-Bolds.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff2") format("woff2"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  font-weight: 400; }

h2, p {
  margin: 0;
  padding: 0; }

section {
  height: 100vh;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }

.wrapper {
  width: 62.5%;
  margin: 0 auto;
  background-color: #FFF;
  vertical-align: middle;
  padding: 50px;
  position: relative; }

.img-box {
  width: 50%;
  display: inline-block; }
  .img-box img {
    width: 100%; }

.form-box-text {
  width: 50%;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  text-align: center; }

.text-box h2 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px; }

.text-box p {
  font-size: 16px; }

.form-box {
  width: 66.6%;
  margin: 0 auto; }
  .form-box input {
    display: block;
    width: 100%;
    border: none;
    outline: none; }
  .form-box .text-form {
    padding: 20px 30px;
    border-bottom: 1px solid #888888;
    font-family: 'Ubuntu';
    font-size: 16px; }
  .form-box .form-name {
    background: url(../img/human.png) no-repeat 0 center; }
  .form-box .form-post {
    background: url(../img/latter.png) no-repeat 0 center; }
  .form-box .form-pas {
    background: url(../img/lock.png) no-repeat 0 center; }
  .form-box .form-btn {
    width: auto;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #82c5c3;
    color: #fff;
    padding: 15px 50px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: bold;
    border: none;
    margin-top: 20px; }
    .form-box .form-btn:hover {
      background-color: #6cafad; }
    .form-box .form-btn span {
      font-family: 'FontAwesome';
      margin-left: 8px; }

.text-box {
  margin-bottom: 50px; }

.form-box input[type="password"] {
  margin-bottom: 0;
  margin-top: 20px; }

.form-box input[name="mail"] {
  margin-top: 20px; }

.quest {
  text-align: left;
  font-family: 'Ubuntu';
  font-size: 14px; }
  .quest a {
    font-weight: 500;
    color: #f69a7a;
    margin-left: 15px;
    text-decoration: none; }

.bubble {
  position: absolute; }

.bubble-top {
  top: -57px;
  left: 10%; }

.bubble-bottom {
  bottom: -57px;
  right: 10%; }

.error {
  border-bottom: 1px solid red; }

.form-box input.error {
  background: url(../img/error.png) no-repeat 0 center; }

label.error {
  border: none;
  color: #f69a7a;
  font-size: 10px; }

#input-password-error {
  padding-bottom: 10px; }
