@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome.eot');
  src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome.woff2') format('woff2'),
    url('../fonts/fontawesome.woff') format('woff'),
    url('../fonts/fontawesome.ttf') format('truetype'),
    url('../fonts/fontawesome.svg#fontawesome') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans';
  font-weight: normal; }

.work {
  padding-top: 90px;
  padding-bottom: 90px; }

h1 {
  font-size: 50px;
  margin-bottom: 20px; 
  font-weight: 600;
}
  h1 span {
    color: #fc6744; }

.descr {
  margin-bottom: 100px; }

.icon {
  font-family: 'FontAwesome';
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px; }

.work .container > div:last-child > div:nth-child(1) {
  background-color: #4eb2f7; }

.work .container > div:last-child > div:nth-child(2) {
  background-color: #c049f8; }

.work .container > div:last-child > div:nth-child(3) {
  background-color: #817eff; }

.work .container > div:last-child > div:nth-child(4) {
  background-color: #f74770; }

.work .container > div:last-child > div {
  width: 260px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative; }
  .work .container > div:last-child > div p {
    color: #fff;
    font-size: 16px; }
  .work .container > div:last-child > div a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    background-color: #FFF;
    padding: 8px 25px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    bottom: -26px;
    right: -30%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .work .container > div:last-child > div a:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
    .work .container > div:last-child > div a span {
      font-size: 30px;
      vertical-align: middle;
      margin-right: 10px; }

h2 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px; }
