/* Basic settings */
@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell-Bold.eot');
  src: url('../fonts/Rockwell-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rockwell-Bold.woff2') format('woff2'),
    url('../fonts/Rockwell-Bold.woff') format('woff'),
    url('../fonts/Rockwell-Bold.ttf') format('truetype'),
    url('../fonts/Rockwell-Bold.svg#Rockwell-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell.eot');
  src: url('../fonts/Rockwell.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rockwell.woff2') format('woff2'),
    url('../fonts/Rockwell.woff') format('woff'),
    url('../fonts/Rockwell.ttf') format('truetype'),
    url('../fonts/Rockwell.svg#Rockwell') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Color */
html {
  font-size: 10px; }

body {
  color: #202242; }

/* Fonts mixin */
.reg, .header-nav li a, .header-text-block p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

.semi {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; }

.bold, header .main-form-btn, .header-nav li.item-active a, .header-callback_btn, .input-addon {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

.header-font {
  font-family: 'Rockwell';
  font-weight: bold; }

.header-font-normal, .header-logo span, .header-text-block h1 {
  font-family: 'Rockwell';
  font-weight: normal; }

/* header styles */
header {
  height: 100vh;
  min-height: 60rem;
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }
  header .main-form-block {
    width: 50rem;
    height: 9rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    margin-top: 4rem; }
  header .main-form-input {
    display: inline-block;
    background-color: #fff;
    padding: 2rem;
    height: 5rem;
    margin-right: -4px;
    border: none;
    width: 40%; }
  header .main-form-btn {
    display: inline-block;
    border: none;
    background-color: #ffe13e;
    color: #fff;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem; }

.header-top-block {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 11rem;
  background-color: #fff; }

.header-logo {
  height: 11rem;
  line-height: 11rem; }
  .header-logo img {
    vertical-align: middle; }
  .header-logo span {
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 1rem; }

.header-nav {
  border-right: 1px solid rgba(164, 164, 164, 0.1);
  -webkit-margin-before: 0;
    -webkit-margin-before--webkit-margin-after: 0;
  text-align: center;
  height: 11rem;
  line-height: 11rem; }
  .header-nav li {
    display: inline-block;
    margin: 0 1rem; }
    .header-nav li a {
      color: #202242;
      font-size: 1.6rem;
      text-transform: uppercase; }
      .header-nav li a:hover {
        text-decoration: none; }
    .header-nav li.item-active a {
      color: #ffe13e; }

.header-callback {
  text-align: center; }
  .header-callback_text p {
    font-size: 1.2rem;
    padding-top: 1rem; }
  .header-callback_btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: #ffe13e;
    color: #202242;
    margin-right: 2rem; }
  .header-callback_phone {
    font-size: 2.4rem;
    font-weight: bold;
    color: #202242;
    border-left: 2px solid rgba(164, 164, 164, 0.1);
    padding-left: 2rem; }

.header-text-block {
  text-align: center;
  padding-top: 10%;
  color: #fff; }
  .header-text-block h1 {
    font-size: 4rem;
    margin-bottom: 0.2rem; }
  .header-text-block p {
    font-size: 2rem; }

.header-main-img {
  margin-top: 2rem; }

.input-addon {
  display: inline-block;
  background-color: #ffe13e;
  height: 5rem;
  width: 8rem;
  vertical-align: middle;
  line-height: 5rem;
  margin-right: -3px;
  margin-top: -2px; }
