.footer{
	margin-top: 70px;

	&__container{
		padding-bottom: 70px;
		padding-top: 20px;
		border-top: 2px solid $black;
	}
	&__top{
		padding-top: 35px;
		font-size: 14px;
		line-height: 18px;
		p{
			& + p{
				margin-top: 15px;
			}
		}
	}
	&__bottom{
		font-family: garIt;
		font-size: 14px;
		line-height: 18px;
		position: relative;
	}
	&__left{
		text-align: center;
	}
	&__logo{
		width: 68px;
		margin: 40px auto 0;
		img{
			width: 100%;
		}
		svg{
			width: 100%;
		}
	}
	&__right{
		p{
			position: absolute;
			bottom: 17px;
			&:first-child{
				left: 0;
			}
			&:last-child{
				right: 0;
			}
		}
	}
	@media (min-width: 1152px){
		margin-top: 100px;
		&__container{
			padding-bottom: 50px;
			border: none;
		}
		&__top{
			padding-top: 0;
			border: none;
			text-align: center;
			margin: 0 -50px 30px;
			font-family: garReg;
			p + p{
				margin-top: 10px;
			}
		}
		&__bottom{
			padding-top: 0;
			margin: 0 -50px;
			position: relative;
			font-size: 0;
		}
		&__left{
			display: inline-block;
			vertical-align: middle;
			width: 35%;
			font-size: 14px;
			line-height: 18px;
			text-align: left;
			br{
				display: none;
			}
		}
		&__logo{
			width: 35%;
			margin: 0;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			img{
				width:86px;
			}
			svg{
				width:86px;
			}
		}
		&__right{
			font-size: 14px;
			line-height: 18px;
			width: 30%;
			display: inline-block;
			vertical-align: middle;
			text-align: right;
			p{
				position: static;
				bottom: auto;
				&:first-child{
					left: auto;
				}
				&:last-child{
					right: auto;
				}
			}
		}
	}
}