include blocks/bemto/bemto.pug

- set_bemto_settings({modifier: '--'});

doctype html
html(lang="ru-RU")
	head
		title Проект
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/reset.min.css")
		link(rel="stylesheet" href="/css/main.min.css")
	body
		+b.main
			+e.container.container
				+e.body.text--main
					h1 Как выбрать картину для дома
					p Если ничего не понимаешь в живописи
				+e.name
					p Юлия Березовая. Натюрморт. </br>Холст, масло, 40х60
		+b.quote--small
			+e.container.container
				+e.text.text
					p Кажется, что купить картину можно в любой момент. Но когда момент приходит — покупка откладывается.Вот, на что обратить внимание, чтобы не ходить часами по галереям, и картина пришлась к месту.
				+e.avatar
					+e.img
						img(src="/img/quote1.jpg")
					+e.name.text--avatar
						a(href="https://www.instagram.com/berezovaya.yulia") Юлия березовая
						p художник, пишет интерьерную живопись
		+b.reason
			+e.container.container
				+e.text.text
					h2 Люди покупают живопись, потому что:
				+e.UL.list
					li Картина на стене превращает «жилище» в «дом».
					li Любимая картина несёт положительные эмоции.
					li Ценную картину можно</br> передать по наследству.
					li Владение живописью повышает статус владельца.
		+b.reason-stop
			+e.container.container
				+e.text.text
					h2 Причины, которые останавливают</br> от покупки:
				+e.OL.list
					li Кажется, что хорошая картина стоит дорого.
					li Картина разонравится — деньги на ветер.
					li Не уверенности, что нужна именно живопись.
					li Непонятно, какая картина будет хорошо выглядеть в моём дизайнерском интерьере. 
					li Не знаю, как правильно оформить картину.
					li Лень браться за молоток и вбивать гвозди.
		+b.media
			+e.container.container
				+e.content
					img(src="/img/media.jpg")
				+e.text.text--c-lighten
					p Живопись в интерьере
		+b.choise
			+e.container.container
				+e.text.text
					h2 Как выбрать картину:
				+e.list
					+e.item.text__.--choice
						h3 Используйте принцип контраста
						p Цвет картины должен быть противоположен цвету фона.  На синем фоне ярче всего будет смотреться желтое «пятно», на красном — зелёное, на черном ― белое. Принцип контраста положен в основу цветового круга.
						p Противоположные цвета создают наиболее сильный контраст. Если в оформлении использовать не противоположные, а соседние цвета ― возникнут нюансы. 
						p Первым этот принцип сформулировал немецкий ученый и поэт Гёте. Принципом контраста активно пользуются дизайнеры и художники. Действие принципа легко проверить: на синем небе ярче всего сияет желтое солнце, на зеленой грядке хорошо заметны красные помидоры, на ночном небе ― луна.
						+e.append
							+e.img
								img(src="/img/color.jpg")
							p
								a(href="colorscheme.ru") colorscheme.ru
								|  поможет подобрать контрастные цвета
					+e.item.text__.--choice
						h3 Посоветуйтесь с дизайнером
						p Если в квартире дизайнерский интерьер, поговорите с дизайнером, который его разрабатывал. Возможно, он посоветует что-то менять. Если Если по каким-то причинам с ним нет связи, обратитесь к дизайнеру, чьи работы вам понравятся. Выбрать его можно на сайте сообщества, либо на бирже дизайнеров интерьера.
						+e.links
							a(href="behance.net") behance.net
							a(href="godesigner.ru") godesigner.ru 
					+e.item.text__.--choice
						h3 Используйте мини-форматы
						p Картины, размером 15 на 20 см, стоят недорого, и продаются на центральных улицах, в галереях, в крупных и туристических городах. Цена мини-картины редко превышает тысячу рублей. Три картины — уже серия. Серия из нескольких маленьких работ украсит небольшое пространство. 
						+e.links
							b мини-серия — 3 000 руб.
		+b.advices
			+e.container.container
				+e.wrapper
					+e.quote.quote__.--big
						+e.avatar
							+e.img
								img(src="/img/quote1.jpg")
							+e.text.text--avatar
								b Юлия березовая
						+e.text.text--quote
							p Ко мне часто обращаются люди, которые не знают, что им надо. Им кажется что «живопись— это круто». Это факт. Но часто оказывается, что нужно просто оживить интерьер «ярким пятном». Это может быть фотография или хороший постер. Я могу посоветовать своих коллег-фотографов, подобрать классную фотку на фотостоке или отправить к коллегам-художникам, если нужна картина в конкретном стиле.
					+e.body
						+e.text.text
							h4 Вот что я советую:
						+e.list
							+e.item.advice__
								+e.text.text--advice
									h5 Знаете точно, что нужно — закажите в художественной мастерской
									p В мастерской создадут копию шедевра, напишут парадный портрет, выполнят любую просьбу заказчика. 
										a(href="http://www.kopii-kartin.ru/?_openstat=ZGlyZWN0LnlhbmRleC5ydTs0ODM5OTc0OzI4NzIwMDI2OTt5YW5kZXgucnU6cHJlbWl1bQ&yclid=7310063289188229540") В художественную мастерскую 
										|  можно обратиться через интернет.
								+e.price Cтоимость — индивидуальна
							+e.item.advice__
								+e.text.text--advice
									h5 Не хотите ждать — купите в художественной галерее
									p Художественные галереи есть в каждом городе. Опишите задачу, и владелец галереи подберет картину из запасников или закажет у мастера.
								+e.price Картина мэтра — 50 000 руб.
							+e.item.advice__
								+e.text.text--advice
									h5 Опасаетесь подделок? Обратитесь к эксперту
									p Стоит ли эта картина так дорого? Даже если вы покупаете полотно советского мастера второй половины прошлого века, может возникнуть такой вопрос. Сфотографируйте картину на телефон и покажите эксперту из другой галереи. Его совет поможет сбить цену или найти более подходящую картину.
								+e.price Совет эксперта — бесплатно
							+e.item.advice__
								+e.text.text--advice
									h5 Если у маститого художника дорого, закажите у начинающего
									p Начинающие художники берут недорого. С ними проще: они лишены снобизма и с удовольствием выполняют работу на заказ. На behance.net тусуются не только дизайнеры, но и художники.
								+e.price Картина — </br>10 000 руб.
							+e.item.advice__
								+e.text.text--advice
									h5 Если у художника дорого — подберите аналог
									p Если авторская живопись не по карману — закажите репринт. Эрмитаж, Лувр, Прадо и другие музеи продают на своих сайтах 
										a(href="http://www.tiendaprado.com/en/404-print-on-demand") репродукции картин великих художников на холсте
										|  с доставкой.
								+e.price Репринт — </br>1 000 руб.
		+b.importent-avices
			+e.container.container
				+e.body
					+e.text.text
						h2 Полезно знать
					+e.UL.list
						li 
							span Если на стенах обои с крупным рисунком — картина будет лишней. 
							| Яркие обои с принтами отторгают инородные «включения».
						li 
							span Оформить картину помогут в багетной мастерской.
							|  Как правило, раму подбирают под картину не под интерьер, а картина должна быть самодостаточной.
						li 
							span Хорошее решение — повесить копию картины, которая нравилась в детстве.
							|  Такая картина всегда будет давать положительные эмоции. 
						li 
							span Вешать картину самому —  не обязательно. 
							| Мастер с 
							a(href="youdo.ru") youdo.ru 
							| сделает это за 300 рублей. В крупных городах есть сервисы, которые 
							a(href="http://www.artiteq.ru/index") повесят дорогую картину
							|  надежно и профессионально.
						li 
							span Воздержитесь от портретов в интерьере. 
							| У портретов особая энергетика. Исключения: кисть большого мастера, свой парадный или фамильный портрет.
		+b.footer
			+e.container.container
				+e.top
					+e.item
						p Студент I ступени Школы редакторов:
						a(href="https://www.facebook.com/alexey.berezovoy") Алексей Березовой
				+e.bottom
					+e.item
						p Консультанты:
						a(href="https://www.facebook.com/stasy.lesik") Анастасия Лесик,
						</br>
						a(href="https://www.facebook.com/profile.php?id=100002000118712") Дарья Сусекова	
					+e.item
						p Использованы шрифты
						a(href="https://fonts.google.com/specimen/Playfair+Display") Playfair Display
						</br>
						a(href="https://fonts.google.com/specimen/PT+Sans") PT Sans
					+e.item
						p Дизайн и верстка
						a(href="https://vk.com/l333333t") Антон Черногоров
						</br>
						a(href="https://vk.com/dmtr_sokolov") Дмитрий Соколов
					+e.item
						p Иллюстрации:
						a(href="#") Картина 1
						</br>
						a(href="#") Картина 2