.users{
	&__container{
		padding-top: 40px;
	}
	&__lists{
		font-size: 0;
		text-align: center;
		padding-bottom: 65px;
	}
	&__list{
		padding-left: 20px;
		text-align: left;
		b{
			color: $blue;
			font-family: garItMed;
			font-size: 20px;
			line-height: 22px;
		}
		ul li + li{
			margin-top: 0;
		}
		& + .users__list{
			margin-top: 10px;
		}

	}
	@media (min-width: 600px){
		&__list{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			& + .users__list{
				margin-top: 0;
			}
			&:last-child{
				padding-right: 0;
				width: 59%;
				margin-left: 10%;
				margin-top: 20px;
			}

		}
	}
	@media (min-width: 1152px){
		&__list{
			padding-right: 10px;
			padding-left: 0;
			b{
				font-size: 28px;
				line-height: 37px;
			}
		}
	}
}