#block {
  height: 100vh;
  width: 100%;
  padding: 100px;
  text-align: center;
  position: relative; }
  #block h1 {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: #1abc9c;
    font-size: 80px; }
  #block a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    background-color: #1abc9c;
    padding: 10px 45px;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%);
    bottom: 100px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-weight: 300;
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 30px;
  height: 52px;
  vertical-align: middle; }
  .menu-item {
    display: inline-block;
    line-height: 52px;
    margin-right: 20px; }
    .menu-item a {
      text-decoration: none;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-size: 15px;
      color: #a69999;
      text-transform: uppercase; }

.nav {
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.19);
  padding: 5px 0; }

.social {
  display: inline-block;
  padding: 13px 10px;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3; }
  .social .fb, .social .tw {
    margin-right: 25px; }

.box {
  padding: 100px 0 300px 0; }
  .box .container > div:first-child {
    margin-bottom: 100px; }
    .box .container > div:first-child img {
      margin-bottom: 35px; }
    .box .container > div:first-child p {
      font-family: 'Ubuntu';
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      color: #b5b5b5;
      padding: 0;
      margin: 0;
      margin-bottom: 20px; }
    .box .container > div:first-child h2 {
      padding: 0;
      margin: 0;
      font-family: 'Ubuntu';
      font-weight: 300;
      font-size: 61px;
      color: #4c4c4c; }
      .box .container > div:first-child h2 span {
        color: #1abc9c; }

.box .container > div:nth-child(2) img {
  margin-bottom: 35px; }

.box .container > div:nth-child(2) p {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  color: #b5b5b5;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; }

.box .container > div:nth-child(2) h3 {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 27px;
  color: #4c4c4c;
  margin-bottom: 30px; }
  .box .container > div:nth-child(2) h3 span {
    color: #1abc9c; }
