@media (min-width: 1152px){
	.header{
		&__information{
			a{
				span{
					&::before{
						transition: 0.3s ease;
						transform-origin: bottom;
						transition-property: transform;
					}
				}
				&:hover{
					span{
						&::before{
							transform: scaleY(0.33);
						}
					}
				}
			}
		}
	}
}