@import url(../css/fonts.css);
/* Base setting */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
  outline: none; }

ul {
  padding: 0;
  margin: 0; }

/* =====================    Header    ======================= */
header {
  height: 100vh;
  min-width: 100%; }

nav {
  background-color: #24282f;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5; }

.logo {
  font-family: 'Nexa', sans-serif;
  color: #fff;
  font-size: 1.857rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 95px;
  display: inline-block; }
  .logo:hover, .logo:focus, .logo:visited, .logo:active {
    color: #fff; }
  .logo:before {
    content: '';
    width: 25px;
    height: 25px;
    background: url(../img/header/icon-logo.png) no-repeat center center;
    display: inline-block;
    margin-right: 30px; }

.menu {
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
  line-height: 90px; }
  .menu-item {
    display: inline-block;
    border-bottom: 4px solid transparent;
    padding: 0 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .menu-item:hover {
      border-bottom: 4px solid #b5a263; }
    .menu-item a {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      color: #fff;
      text-transform: uppercase;
      padding: 50% 3px; }

.header-bg {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1; }

.bg-item-1, .bg-item-2, .bg-item-3, .bg-item-4 {
  background: url(../img/header/1.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  width: 100%; }
  .bg-item-1:after, .bg-item-2:after, .bg-item-3:after, .bg-item-4:after {
    content: '';
    background: rgba(36, 40, 47, 0.9);
    width: 100%;
    height: 100vh;
    display: inline-block; }

.bg-item-2 {
  background: url(../img/header/2.jpg) no-repeat center center; }

.bg-item-3 {
  background: url(../img/header/3.jpg) no-repeat center center; }

.bg-item-4 {
  background: url(../img/header/4.jpg) no-repeat center center; }

.slider {
  position: relative;
  z-index: 2;
  width: 95%;
  margin: 0 auto; }
  .slider h2 {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #fff;
    font-size: 1.571rem;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .slider h1 {
    margin: 0;
    font-family: 'Nexa';
    font-weight: normal;
    color: #fff;
    font-size: 4.785rem;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .slider-box {
    padding-top: 300px; }
  .slider-btn {
    background-color: #b5a263;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #fff;
    font-size: 1.142rem;
    text-transform: uppercase;
    padding: 11px 25px;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .slider-btn:focus, .slider-btn:visited, .slider-btn:active {
      color: #fff; }
    .slider-btn:hover {
      color: #b5a263;
      background-color: #fff; }

/* ===================     Carousel      ================ */
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.03);
  font-family: 'FontAwesome';
  color: #b5a263;
  text-align: center;
  font-size: 1.785rem;
  padding-top: 2px;
  z-index: 3; }

.owl-next {
  right: 0; }

.owl-prev {
  left: 0; }

/* ==============   Carousel end    =================== */
/* =====================    Manage    ======================= */
.manage {
  padding: 120px 0; }
  .manage p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #24282f;
    margin: 0;
    margin-bottom: 100px; }
  .manage h3 {
    font-family: 'Nexa';
    font-weight: normal;
    color: #24282f;
    font-size: 1.142rem;
    text-transform: uppercase; }

.red-line {
  width: 77px;
  height: 2px;
  background-color: #b5a263;
  display: inline-block;
  margin-bottom: 25px; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.714rem;
  color: #24282f;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 30px; }

/* =====================    Who WE ARE    ======================= */
.who {
  background-color: #f7f7f7;
  padding-top: 70px;
  padding-bottom: 70px; }
  .who-box {
    padding-top: 70px; }
  .who p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #24282f;
    margin: 0;
    margin-bottom: 70px; }

.shadow {
  -webkit-box-shadow: 6px 0px 62px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 0px 62px -15px rgba(0, 0, 0, 0.75);
  padding-left: 0;
  padding-right: 0; }

.img-box {
  padding-left: 0;
  padding-right: 0; }

.people {
  width: 100%;
  height: 100%; }

.who-btn {
  background-color: #fff;
  font-family: 'Open Sans';
  font-weight: normal;
  color: #b5a263;
  font-size: 1.142rem;
  text-transform: uppercase;
  padding: 11px 25px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #b5a263; }
  .who-btn:focus, .who-btn:visited, .who-btn:active {
    color: #b5a263; }
  .who-btn:hover {
    color: #fff;
    background-color: #b5a263; }

/* =====================    RECENT WORKS    ======================= */
.works {
  padding-top: 120px;
  padding-bottom: 120px; }
  .works ul {
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    width: 45%;
    margin: 0 auto; }
  .works li {
    display: inline-block; }
    .works li a {
      font-family: 'Open Sans';
      font-weight: normal;
      color: #24282f;
      font-size: 1.142rem;
      text-transform: uppercase;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .works li a:hover {
        color: #b5a263; }
  .works .red-line {
    margin-bottom: 50px; }
  .works span {
    font-family: 'FontAwesome';
    color: #b5a263;
    font-size: 2.714rem;
    margin-bottom: 35px;
    display: inline-block; }
  .works .container {
    margin-bottom: 60px; }
  .works img {
    width: 100%; }
  .works .tab-content {
    margin-bottom: 60px; }

.item-text a {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 1.285rem;
  text-transform: uppercase;
  color: #b5a263;
  display: block; }
  .item-text a:hover {
    color: #fff; }

.no-column {
  padding: 0; }

.no-padding {
  padding: 0; }

.item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(36, 40, 47, 0.9);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 10;
  text-align: center;
  padding-top: 100px; }

.no-column:hover .item-text {
  opacity: 1; }

.show-btn {
  background-color: #fff;
  font-family: 'Open Sans';
  font-weight: normal;
  color: #b5a263;
  font-size: 1.142rem;
  text-transform: uppercase;
  padding: 11px 25px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #b5a263; }
  .show-btn:focus, .show-btn:visited, .show-btn:active {
    color: #b5a263; }
  .show-btn:hover {
    color: #fff;
    background-color: #b5a263; }

/* =====================    HOW WE WORK    ======================= */
.how {
  background-color: #f7f7f7;
  padding-top: 70px;
  padding-bottom: 70px; }
  .how span {
    display: block; }
  .how h2 {
    font-family: 'Nexa';
    margin-bottom: 35px; }
  .how .red-line {
    margin-bottom: 30px; }
  .how p {
    font-family: 'Open Sans';
    font-weight: normal; }

.FAQ-item {
  padding-top: 35px;
  padding-bottom: 25px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  .FAQ-item:first-child {
    border-bottom: none; }
  .FAQ-item:last-child {
    border-top: none; }

.FAQ-descr {
  display: inline;
  font-family: 'Open Sans';
  font-weight: normal;
  color: #24282f; }

.FAQ span {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b5a263;
  font-size: 1.285rem;
  margin-right: 23px; }

.how-box > p {
  margin-bottom: 45px; }

.quest {
  margin-bottom: 10px; }
  .quest a {
    padding: 5px;
    float: right;
    margin-right: 20px; }

.minus-1, .minus-2, .minus-3 {
  display: none; }

/* =====================    STATISTIC    ======================= */
.statis {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #24282f; }
  .statis span {
    font-family: 'Nexa';
    font-weight: normal;
    font-size: 1.714rem;
    color: #b5a263;
    margin-bottom: 40px; }
  .statis h4 {
    font-family: 'Nexa';
    font-weight: normal;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .statis .red-line {
    margin-bottom: 25px; }
  .statis p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #fff; }

/* =====================    MEET OUR TEAM    ======================= */
.team {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f7f7f7; }
  .team .red-line {
    margin-bottom: 45px; }
  .team span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #b5a263;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .team p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #24282f;
    margin-bottom: 25px; }
  .team-item {
    margin-bottom: 80px; }

.social a {
  font-family: 'FontAwesome';
  color: #24282f;
  font-size: 1.142rem;
  margin-right: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .social a:hover {
    color: #b5a263; }

.features {
  padding-top: 75px;
  padding-bottom: 75px; }
  .features-item {
    margin-bottom: 65px; }
  .features .first-row {
    margin-bottom: 120px; }
  .features .second-row {
    margin-bottom: 75px; }
  .features .btn-row {
    margin-bottom: 75px; }
  .features .last-row {
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify; }

.footer-top {
  background-color: #2b2f35;
  padding-top: 70px;
  padding-bottom: 70px; }
  .footer-top span {
    font-family: 'Open Sans';
    font-weight: 600;
    color: #b5a263;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block; }
  .footer-top p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #6e7279; }
  .footer-top input {
    display: block;
    width: 100%; }

.input-text {
  background-color: transparent;
  border: 1px solid #6e7279;
  padding: 10px;
  font-family: 'Open Sans';
  font-weight: normal;
  color: #6e7279;
  margin-bottom: 15px; }
  .input-text:focus {
    outline: none; }

.input-btn {
  background-color: #b5a263;
  font-family: 'Open Sans';
  font-weight: normal;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .input-btn:hover {
    background-color: #fff;
    color: #b5a263; }

.footer-bot {
  background-color: #24282f;
  padding-top: 15px;
  padding-bottom: 8px; }
  .footer-bot p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.857rem;
    color: #6e7279;
    font-weight: normal;
    line-height: 34px; }
  .footer-bot a {
    font-family: 'FontAwesome';
    color: #6e7279;
    font-size: 1.142rem;
    width: 34px;
    height: 34px;
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #6e7279;
    text-align: center;
    line-height: 34px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .footer-bot a:hover {
      color: #fff;
      background-color: #b5a263;
      border: 1px solid #b5a263; }

.totop {
  font-family: 'FontAwesome';
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #fff;
  color: #b5a263;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  font-size: 40px;
  padding-left: 12px;
  line-height: 50px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .totop:focus, .totop:visited {
    font-family: 'FontAwesome';
    display: block;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    color: #b5a263;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 100;
    font-size: 40px;
    padding-left: 12px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .totop:hover {
    background-color: #b5a263;
    color: #fff; }

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
  .fixed-header .logo {
    color: #24282f;
    line-height: 94px; }
  .fixed-header .menu a {
    color: #24282f; }
  .fixed-header #hamburger-icon span {
    background: #24282f; }
  .fixed-header .hide-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2); }
    .fixed-header .hide-menu a {
      color: #24282f; }

/* HAMBURGER MENU */
#hamburger-icon {
  width: 30px;
  height: 16px;
  position: relative;
  display: inline-block;
  line-height: 94px;
  vertical-align: middle;
  margin-top: 36px; }
  #hamburger-icon .line {
    display: block;
    background: #ecf0f1;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
  #hamburger-icon .line-1 {
    top: 0; }
  #hamburger-icon .line-2 {
    top: 50%; }
  #hamburger-icon .line-3 {
    top: 100%; }

#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
  -ms-transform: translateY(-2px);
      transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px); }

#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
  -ms-transform: translateY(2px);
      transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px); }

#hamburger-icon.active .line-1 {
  -ms-transform: translateY(8px) translateX(0) rotate(45deg);
      transform: translateY(8px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
  -moz-transform: translateY(8px) translateX(0) rotate(45deg); }

#hamburger-icon.active .line-2 {
  opacity: 0; }

#hamburger-icon.active .line-3 {
  -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
      transform: translateY(-8px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-8px) translateX(0) rotate(-45deg); }

.hide-menu {
  position: absolute;
  right: 0;
  top: 94px;
  width: 100%;
  height: 220px;
  text-align: center;
  background-color: #24282f;
  display: none; }
  .hide-menu li {
    list-style: none;
    margin-bottom: 5px; }
  .hide-menu a {
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 1.428rem;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .hide-menu a:hover {
      color: #b5a263; }

/*====== Screen-Size ====== */
/*========= Media ========= */
@media (min-width: 768px) and (max-width: 991px) {
  .who-box {
    text-align: center;
    padding-bottom: 40px; }
  .who p {
    margin-bottom: 40px; }
  .works ul, .tab-content {
    display: none; }
  .works .red-line, .works .container {
    margin-bottom: 10px; }
  .features .first-row {
    margin-bottom: 60px; }
  .features .second-row {
    margin-bottom: 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .who p {
    margin-bottom: 40px; }
  .tab-content .item-text {
    padding-top: 36px; }
  .tab-content .item-text span {
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  html, body {
    font-size: 10px; }
  .hide-menu {
    height: 170px; }
  .manage p {
    margin-bottom: 30px; }
  .how-box {
    text-align: center;
    padding-top: 30px; }
  .who-box {
    text-align: center;
    padding-bottom: 30px; }
  .who p {
    margin-bottom: 20px; }
  .works ul, .tab-content {
    display: none; }
  .works .red-line, .works .container {
    margin-bottom: 10px; }
  .statis .container div {
    margin-bottom: 30px; }
  .features .first-row {
    margin-bottom: 30px; }
  .second-row div:nth-child(2) .features-item:last-child {
    margin-bottom: 0; }
  .features .second-row {
    margin-bottom: 30px; }
  .footer-top {
    text-align: center; }
  .owl-prev, .owl-next {
    font-size: 24px; }
  .slider {
    width: 80%; }
  .quest span {
    margin-right: 5px; }
  .plus-1, .minus-1, .plus-2, .minus-2, .plus-3, .minus-3 {
    width: 50%; }
  .FAQ-item {
    padding-top: 15px;
    padding-bottom: 10px; }
  .FAQ {
    text-align: left; }
  .quest a {
    margin-right: 0px;
    padding: 3px; }
  .iMac {
    width: 90%; }
  .team-box {
    text-align: center; }
    .team-box span {
      margin-top: 20px; }
  .team-item {
    margin-bottom: 30px; }
  .footer-bot a {
    width: 20px;
    height: 20px;
    line-height: 20px; }
  .footer-bot .container div:nth-child(2) {
    line-height: 44px; }
  .last-row img {
    width: 30%; } }

@media (min-width: 481px) and (max-width: 767px) {
  .manage p {
    margin-bottom: 20px; }
  .how-box {
    text-align: center;
    padding-top: 30px; }
  .who-box {
    text-align: center;
    padding-bottom: 40px; }
  .who p {
    margin-bottom: 40px; }
  .works ul, .tab-content {
    display: none; }
  .works .red-line, .works .container {
    margin-bottom: 10px; }
  .statis .container div {
    margin-bottom: 30px; }
  .second-row div:nth-child(2) .features-item:last-child {
    margin-bottom: 0; }
  .features .first-row {
    margin-bottom: 30px; }
  .footer-top {
    text-align: center; }
  .slider {
    width: 83%; }
  .team {
    text-align: center; }
  .team-box div {
    margin-bottom: 20px; }
  .quest span {
    margin-right: 5px; }
  .plus-1, .minus-1, .plus-2, .minus-2, .plus-3, .minus-3 {
    width: 80%; }
  .FAQ-item {
    padding-top: 15px;
    padding-bottom: 10px; }
  .FAQ {
    text-align: left; }
  .quest a {
    margin-right: 0px;
    padding: 3px; } }

@media (min-width: 1200px) {
  .team-box > div:nth-child(3), div:nth-child(4) {
    margin-bottom: 0; } }

@media (min-width: 1px) and (max-width: 767px) {
  header .menu, .fixed-header .menu {
    display: none; } }

@media (min-width: 768px) {
  #hamburger-icon, .hide-menu {
    display: none; } }
