+b.examples
    +e.container.container
        +e.H2.title Примеры моих картин
        +e.left
            +e.img--first
                img(src="/img/6.jpg")
            +e.img--second
                +e.aside
                    span 34
                    p картины проданы в частные коллекции. Почти всегда у меня в наличии 2-3 готовых картины.
                img(src="/img/4.jpg")
            +e.img--third
                img(src="/img/5.jpg")
        +e.right
            +e.img--four
                img(src="/img/3.jpg")
            +e.FORM(method="POST" action="send.php" ).form.form__
                +e.body--example
                    +e.title--example Помочь с выбором?
                    +e.input--example.input--white
                        input(name="email" placeholder="Ваш e-mail")
                    +e.textarea--example.textarea--white
                        textarea(name="text" placeholder="Какую картину ищете?")
                    +e.BUTTON(type="button").button--submite-example.button--red._submite Отправить
                    +e.privacy--example Нажимая кнопку «Отправить», вы даете согласие на обработку персональных данных
                +e.response--main
                    +e.text--response-example.text--response-main
                        h4 Спасибо за обращение!
                        p Я отвечу на указанный e-mail
                    +e.BUTTON(type="button").button--back-main.button--border-red Назад
                +e.preloader
                    img(src="/img/preloader.svg")
