+b.exp
    +e.container.container
        +e.H2.title
            span.underlined.underlined--four Используйте
            |   опыт других покупателей
        +e.list.list__
            +e.item--exp
                h5 Знаете точно, что нужно ― закажите<br> в художественной мастерской
                p В мастерской создадут копию шедевра, напишут парадный портрет, выполнят любую просьбу заказчика.
                    a(href="http://www.kopii-kartin.ru" target="_blank") В художественную мастерскую
                    | можно обратиться через интернет.
            +e.item--exp
                h5 Не хотите ждать — купите в художественной галерее
                p Художественные галереи есть в каждом городе. Опишите задачу, и владелец галереи подберет картину из запасников или закажет у мастера.
            +e.item--exp
                h5 Опасаетесь подделок? Обратитесь к эксперту
                p Стоит ли эта картина так дорого? Даже если вы покупаете полотно советского мастера второй половины прошлого века, может возникнуть такой вопрос. Посоветуйтесь с экспертом из другой галереи. Возможно, он подскажет, как сбить цену, или сам предложит подходящую картину.
            +e.item--exp
                h5 Если у маститого художника дорого, закажите у начинающего
                p Начинающие художники берут недорого. С ними проще: они лишены снобизма и с удовольствием выполняют работу на заказ. На
                    a(href="https://www.behance.net/" target="_blank") behance.net
                    | тусуются не только дизайнеры, но и художники.
            +e.item--exp
                h5 Если у художника дорого — подберите аналог
                p Если авторская живопись не по карману — закажите репринт. Эрмитаж, Лувр, Прадо и другие музеи продают на своих сайтах
                    a(href="www.tiendaprado.com/en/404-print-on-demand" target="_blank") репродукции картин великих художников на холсте
                    | с доставкой.
        +e.images
            +e.img--first
                img(src="/img/1.jpg")
                p Краткий текст-описание картины
            +e.img--second
                img(src="/img/2.jpg")
                p Краткий текст-описание картины
                +e.aside
                    span *
                    p Каждая картина создается с учетом стилистики помещения.