+b#footer.FOOTER.footer
    +e.container.container
        +e.top
            p The artwork reproducing is being monitored by AI 24/7: please, refer its source and author when quoting.
            p The right of authorship emerges the moment the artwork is created — and cannot be withdrawn (not like intellectial property.) In order to prove the authorship, the author needs to prove the moment of creation of the artwork and its form. SharpShark helps to incorporate the date and form into blockchain and IPFS (Interplanetary File System) respectively for good and guarantees its immutability.
        +e.bottom
            +e.left
                p Founded by Sasha Ivanova, designed by Valeriia Panina, developed by Gilbert Gonzales
            +e.logo
                img(src="/images/logo.svg")
            +e.right
                p #mytextmyrules
                p  2019–∞