+b.footer
    +e.container.container
        +e.body
            +e.A(href="https://www.instagram.com/berezovaya.yulia" target="_blank").link Инстаграм
            +e.A(href="https://www.facebook.com/100012413945071" target="_blank").link Фейсбук
            +e.A(href="viber://chat?number=79275134311" target="_blank").link--inline Ватсапп
            +e.A(href="whatsapp://79275134311" target="_blank").link--inline Вайбер
        +e.bottom
            a(href="/privacy") Политика конфиденциальности