+b.HEADER.header
    +e.pattern.pattern--blue
    +e.container.container--tranparent
        +e.head
            h1 #[b S]harp#[b S]hark #[b P]rotects<br> #[b A]rtwork
            h2 Decentralized Protection of Texts&Images and Full Tokenization of Intellectual Property
            p Sasha Ivanova, Valeriia Panina, Gilbert Gonzales
        +e.information
            p Published on:#[span 18 July 2019 at 23:45]
            a(href="https://ss.s/cggr4hfgy").mobile
                span.bordered.bordered--blue Github source code
            p.desktop Feel free to quote with link #[a(href="https://ss.s/cggr4hfgy") #[span(class="bordered bordered--blue") https://ss.s/cggr4hfgy]]