+b.main
    +e.container.container
        +e.text.text--main
            h1 Как выбрать картину <br> для дома
            p Помогу, даже если вы ничего не понимаете в живописи
        +e.photo
            img(src="/img/ava.png")
            +e.about.text--about
                a(href="https://www.instagram.com/berezovaya.yulia" target="_blank") Юлия Березовая
                p Художник