+b.principles
    +e.container.container
        +e.H2.title
            span.underlined.underlined--third Как выбрать картину
            |  и не ошибиться
        +e.list.list__
            +e.item--principles.principe__
                +e.title Использовать принцип контраста
                +e.body
                    +e.text.text--principe
                        p Цвет картины должен быть противоположен цвету фона. На синем фоне ярче других будет смотреться желтое «пятно», на красном — зелёное, на черном ― белое. Принцип контраста положен в основу цветового круга.
                        p Цветовым кругом пользуются художники, чтобы подобрать цветовое решение картины. Действие принципа легко проверить: на синем небе ярче всего сияет желтое солнце, на зеленой грядке хорошо заметны красные помидоры, на ночном небе ― луна.
                        p Противоположные цвета создают сильный контраст. Если нужны нюансы ― используйте не противоположные, а соседние цвета с цветового круга. Для поиска цветового решения воспользуйтесь сайтом colorscheme.ru
                    +e.aside
                        img(src="/img/colorscheme.jpg")
                        p
                            a(href="colorscheme.ru" target="_blank") colorscheme.ru
                            |   поможет подобрать цвета
            +e.item--principles.principe__
                +e.title Посоветоваться с дизайнером
                +e.body
                    +e.text.text--principe
                        p Если в квартире дизайнерский интерьер, поговорите с дизайнером, который его разрабатывал. Возможно, он отсоветует что-то менять. Если с ним нет связи, обратитесь к любому другому дизайнеру. Выбирайте того, чьи работы понравятся на сайте сообщества, либо на бирже дизайнеров интерьера. Ссылки на сайты — справа от этого абзаца.
                    +e.aside
                        a(href="behance.net" target="_blank") behance.net
                        a(href="godesigner.ru" target="_blank") godesigner.ru
            +e.item--principles.principe__
                +e.title Купить любое полотно в стиле, от которого кайфуешь
                +e.body
                    +e.text.text--principe
                        p Необязательно выискивать конкретного мастера. Возможно, вам нравится какой-то стиль в целом: импрессионизм, абстракция, футуризм и т. д. Купите подходящее полотно любого художника в этом стиле. Главное — положить начало. Когда привыкнете к первой картине — поймете, какую покупать вторую.
                    +e.aside
                       span Купить картину в любимом стиле