+b.quote
    +e.container.container
        +e.body
            +e.text.text--quote
                p Я пишу в стиле реализма, импрессионизма и абстракцию. Если нужна картина в другом стиле — направлю к коллегам-художникам
            +e.photo
                img(src="/img/ava2.png")
                p Юлия Березовая