+b.shade
    +e.container.container
        +e.H2.title Помните о нюансах
        +e.list.list__
            +e.item--shade
                p
                    span Если на стенах обои с крупным рисунком — картина будет лишней.
                    | Яркие обои с принтами отторгают инородные «включения».
            +e.item--shade
                p
                    span Вешать картину самому —  не обязательно.
                    | Мастер с
                    a(href="https://youdo.com" target="_blank") youdo.ru
                    | сделает это за 300 рублей. В крупных городах есть сервисы, которые надежно
                    a(href="http://www.artiteq.ru/index" target="_blank") повесят дорогую картину.
            +e.item--shade
                p
                    span Хорошее решение — повесить копию картины, которая нравилась в детстве.
                    | Такая картина всегда будет давать положительные эмоции.
            +e.item--shade
                p
                    span Оформить картину помогут в багетной мастерской.
                    | Как правило, раму подбирают под картину не под интерьер, а картина должна быть самодостаточной.
            +e.item--shade
                p
                    span У портретов особая энергетика.
                    | Воздержитесь от портретов в интерьере. Исключения: работа большого мастера, портрет семьи, парадный портрет хозяина дома и его супруги.
