+b.why
    +e.container.container
        +e.text.text--why
            p Когда хочется купить картину домой, мучаешься выбором: стили, размеры, рамы, цветовая гамма... Всё кажется сложным. В конце концов, начинаешь сомневаться, нужна ли тебе живопись. Давайте, я расскажу, как подобрать картину в интерьер. Это проще, чем кажется.
            h2
                span.underlined.underlined--first Зачем
                |   нужна интерьерная живопись
        +e.list.list__
            +e.col
                +e.item--why
                    span 1
                    p Картина на стене превращает жилище в дом.
                +e.item--why
                    span 2
                    p Ценную картину можно передать по наследству.
            +e.col
                +e.item--why
                    span 3
                    p Любимая картина несёт положительные эмоции.
                +e.item--why
                    span 4
                    p Владение живописью повышает статус владельца.
        +e.photos
            +e.photo
                img(src="/img/before.jpg")
            +e.photo
                img(src="/img/after.jpg")
                p Копия картины Андре Дерена в интерьере
            +e.photos-descr
                span *
                p Без картины интерьер выглядит невзрачным, а с картиной — выразительным и законченным