+b.contacts--min
	+b.FORM.form--recall.contacts__form.ajax(action="/fff")
		+e.letter 
			include ../G.svg
		+e.body
			+e.LABEL.line--header.text
				p.likeh2 Обратный звонок
				p Не нашли на сайте то, что интересует? Напишите нам сообщение и в скором времени мы ответим
			+e.LABEL.line--input.input.check
				+e.input-error
				input(name="name",placeholder="Ваше ФИО")
			+e.LABEL.line--input.input.check
				+e.input-error
				input(name="company",placeholder="Название вашей компании")
			+e.LABEL.line--input.input.check.check-email
				+e.input-error
				input(name="email",placeholder="Контактный E-mail")
			+e.line--textarea.textarea
				+e.input-error
				textarea(name="name",placeholder="Ваше сообщение")
			+e.line--submit
				+e.BUTTON.button.button--submit.--s-def.--c-clear-green.submit(type="button") Отправить
		+e.response.text
			p.likeh3 Ваша заявка принята!
			p В течении короткого времени мы с вами свяжемся.
	+b.contacts__map-container.map-container--contacts-min._scoop
		+e.addresses
			+b.contacts__address.address.text--min.--white
				.likeh2 Главный офис
				p РФ, 127411, Москва, Дмитровское шоссе, 157, стр. 9, офис 9308 а,б,в. 
				p.up +7 (495) 21-21-102
					| &nbsp;
					span.min  (многоканальный)
				p info@greenline77.ru
			+b.contacts__address.address.text--min.--white
				.likeh2 Производство
				p РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N 36.
				p.up +7 (499) 670-07-07
				p info@greenline77.ru
		+e.A.link--show-map._openMap(href="#contacts-map") Показать на карте
		+e.overlay.overlay
		#contacts-map.map
	+b.email--contacts-min
		+e.container
			+e.text.text
				p.likeh2.c--darkblue Новостная рассылка
				p Получайте последние новости нашей компании первыми
			+b.FORM.form--email.ajax(action="/ddd")
				+e.letter 
					include ../G.svg
				+e.body
					+e.LABEL.line--input.input--w-button.check.check-email
						+e.input-error
						input(name="email",placeholder="Контактный E-mail")
						button.button.button--square.button--c-clear-green._i._i--plane.submit(type="button")
				+e.response--mail Вы успешно подписались на рассылку!
