+b.link-stroke
	+e.DIV.back.media--back.mediaload(data-img="none,/img/index/processing.jpg", data-sizes="0,1240")
	+e.container.container
		+e.A.link.link--c-green.arrow--right Подробнее об обработке и фасовке орехов