+b.main--index.waypoint
	+e.VIDEO#video-back-main.video(autoplay,loop)
		source(data-src="/img/index/bg.ogv",type='video/ogg; codecs="theora, vorbis"')
		source(data-src="/img/index/bg.mp4",type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
		source(data-src="/img/index/bg.webm",type='video/webm; codecs="vp8, vorbis"')
	+e.container--index.container
		+e.text.text--white.text--h
			h1
				span.pp.pp--1.pp--inline
					| Крупнейший импортер 
				br
				span.pp.pp--2.pp--inline
					nobr и поставщик
					| 
					| орехов в России
			p.up
				span.pp.pp--3
					| Качество в соответствии с международными 
				span.pp.pp--4.pp--inline
					|стандартами 
					nobr ISO 9001
					|  и 
					nobr FSSC 22000
			+b.UL.benefits--main
				- var __nums = [6,8,10,12,14]
				- var benefits = ['price','equipment','person','shipment','payment']
				each val, index in ['Низкие цены при лучшем качестве', 'Новейшее оборудование', '50 специалистов в штате','Бесплатная доставка','Возможность отсрочки платежа']
					+e.LI
						img(class="pp pp--"+__nums[index]+"",src="img/index/"+benefits[index]+".svg")
						p(class="pp pp--"+(__nums[index] - 1)+"")= val
		+e.buttons.pp--15
			+e.A.button.button--s-def.--c-clear-white Поставщикам
			+e.A.button.button--s-def.--c-clear-white Закупщикам