+b.map--partners
	+e.container.container.text--white
		h2 География наших партнеров
		+e.UL.country-list
			- var prod = ["арахис", "арахис", "кешью", "фундук", "фистащки","миндаль","цукаты ананаса"]
			- var count = [100,20,20,20,20,20,20]
			- var datas = ['argentina','brazil','vietnam','georgia','iran','chile','thailand']
			each val, index in ['Аргентина','Бразилия','Вьетнам','Грузия','Иран','Чили','Тайланд']
				+b.LI.map__country.country--hover(data-id=datas[index])
					+e.title--partners= val
					+e.text--partners
						p.min Что возим?
						p= prod[index]
						p.min Какое количество?
						p= count[index]+' тонн'
		+e.svg
			include map.svg