@font-face {
  font-family: 'ChunkFive';
  src: url("ChunkFive-Roman.eot");
  src: url("ChunkFive-Roman.eot?#iefix") format("embedded-opentype"), url("ChunkFive-Roman.woff2") format("woff2"), url("ChunkFive-Roman.woff") format("woff"), url("ChunkFive-Roman.ttf") format("truetype"), url("ChunkFive-Roman.svg#ChunkFive-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

section {
  height: 50vh; }

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'ChunkFive';
  font-size: 50px;
  color: #fff; }

.descript {
  padding-top: 150px; }

.map {
  position: relative; }
  .map form {
    position: absolute;
    top: 10%;
    right: 15%;
    z-index: 5;
    background-color: #4d59a1;
    padding: 50px;
    width: 25%;
    text-align: center; }
    .map form input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: none;
      font-family: 'Lato';
      font-weight: 400;
      font-style: italic;
      padding: 12px 15px;
      font-size: 10px; }
    .map form input[placeholder="Combany"], .map form input[placeholder="Subject"] {
      display: inline-block;
      width: 49%; }
    .map form input[placeholder="Subject"] {
      margin-left: 3px; }
    .map form textarea {
      width: 100%;
      padding: 20px;
      font-family: 'Lato';
      font-weight: 400;
      font-style: italic;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      font-size: 10px;
      margin-bottom: 10px; }
    .map form button {
      border: none;
      background-color: #c3f37f;
      color: #fff;
      font-family: 'Lato';
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      padding: 20px 40px;
      -webkit-border-radius: 50px;
              border-radius: 50px; }
