@media (min-width: 1152px){
	.main{
		&__text{
			a{
				i{
					&::before{
						transition: 0.3s ease;
						transform-origin: bottom;
						transition-property: transform;
					}
				}
				&:hover{
					i{
						&::before{
							transform: scaleY(0.33);
						}
					}
				}
			}
		}
	}
}