extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    include blocks/index/main.pug
    include blocks/index/how-authorship
    include blocks/index/way-authorship
    include blocks/index/users
    include blocks/index/plans
    include blocks/index/creators
    include blocks/index/gratitude
    include blocks/index/qrs.pug
block footer-scripts