extends blocks/layout.pug

block head
block header
    include blocks/header.pug
block content
    include blocks/index/main.pug
    include blocks/index/how-authorship
    include blocks/index/way-authorship
    include blocks/index/qrs.pug
block footer-scripts