extends blocks/layout.pug

block head
block header
block content
    include blocks/main.pug
    include blocks/why.pug
    include blocks/send.pug
    include blocks/principles.pug
    include blocks/quote.pug
    include blocks/exp.pug
    include blocks/shade.pug
    include blocks/examples.pug
block footer-scripts