.how-authorship{
	position: relative;
	z-index: 1;
	&__title{
		&--desktop{
			@media (max-width: 1151px) {
				display: none;
			}
		}
	}
	&__text{
		font-family: sansProReg;
		p{
			font-size: 18px;
			line-height: 23px;
			margin: 20px 0;
		}
		&--left{
			margin-bottom: 20px;
			span{
				font-family: firaSansBold;
				font-size: 16px;
			}
		}
		&--right{
			font-family: garIt;
			span{
				font-family: garItBold;
			}
			b{
				font-family: garItBold;
				color: $blue;
			}
		}
	}
	&__content{
		&--top{
			margin-bottom: 40px;
		}
	}

	@media (min-width: 1152px) {
		&__title{
			&--mobile{
				display: none;
			}
		}
		&__text{
			&--left{
				margin-bottom: 0;
				p{
					font-size: 24px;
					line-height: 34px;
				}
				span{
					font-size: 24px;
					line-height: 34px;
				}
				display: inline-block;
				vertical-align: top;
				width: 67.2%;
				padding-right: 20px;
				box-sizing:border-box;
			}
			&--right{
				display: inline-block;
				vertical-align: top;
				width: 32.8%;
				p{
					font-size: 21px;
					line-height: 23px;
				}
			}
		}
		&__content{
			&--top{
				margin-bottom: 0;
				font-size: 0;
			}
			&--bottom{
				margin-top: 65px;
			}
		}

	}
}

.blue-section{
	position: relative;
	&__pattern{
		position: absolute;
		height: 100%;
		max-height: 280px;
		left: -10px;
		right: -10px;
		top: -10px;
		z-index: 0;
	}
	&__text{
		font-family: sansProReg;
		p{
			font-size: 18px;
			line-height: 23px;
			margin: 20px 0;
		}
		color: $white;
		position: relative;
		z-index: 1;
		padding: 20px 32px 30px 20px;
		background-color: $blue;
		h4{
			font-size: 24px;
			font-family: garItMed;
			margin-bottom: 20px;
		}
		p{
			margin: 10px 0;
		}
	}
	@media (min-width: 1152px) {
		&__pattern{
			left: -50px;
			right: -50px;
			top: -20px;
		}
		&__text{
			padding: 20px 30px 40px;
			margin: 0 -30px;
			h4{
				font-size: 28px;
				line-height: 37px;
				margin-bottom: 0;
				& + p{
					margin-top: 0;
				}
			}
			p{
				font-size: 21px;
				line-height: 26px;
				margin: 10px 0;
				display: inline-block;
				vertical-align: top;
				&:nth-child(2){
					width: 100%;
				}
				&:nth-child(3){
					width: 46.4%;
				}
				&:nth-child(4){
					width: 53.6%;
					padding-left: 30px;
					box-sizing: border-box;
				}

			}
		}
	}
}

