.gratitude{
	&__title{
		font-size: 24px;
		font-family: garItMed;
		text-align: center;
		margin-bottom: 20px;
		@media (max-width: 1151px){
			position: relative;
			z-index: 1;
			&::before{
				bottom: -2px;
				width: 100%;
				left:0;
				height: 10px;
				background-color: $lightBlue;
				position: absolute;
				content: '';
				z-index: -1;
			}
		}

	}
	&__container{
		padding-bottom: 40px;
	}
	&__item{
		font-size: 16px;
		line-height: 18px;
		font-family: garIt;
		span{
			color: $blue;

		}
		& + .gratitude__item{
			margin-top: 10px;
		}
	}
	@media (min-width: 1152px) {
		&__title{
			font-size: 28px;
			line-height: 37px;
			margin-bottom: 25px;
		}
		&__content{
			padding-bottom: 80px;
			border-bottom: 2px solid $black;
		}
		&__wrapper{
			text-align: center;
			padding: 20px 30px 40px;
			background-color: rgba(237, 243, 245, 0.5);
		}
		&__item{
			font-size: 21px;
			line-height: 1.25;
			margin: 0 auto;
			&:nth-child(1){
				max-width: 500px;
			}
			&:nth-child(2){
				max-width: 515px;
			}
			& + .gratitude__item{
				margin-top: 25px;
			}
		}
	}
}