+b.SECTION.creators
    +e.container.container
        +e.H2.title.title Who Is behind
        +e.text
            p All started in December, 2018: Sasha#[sup 1] ideated, expanded and transferred a conventional timestamping method onto Blockchain, her alumni Valeriia#[sup 2] helped to visualize it, Gilbert#[sup 3] made all this alive (tokenizing everything that can be tokenized), and German#[sup 4] found the first clients.
        +e.list
            +e.item.profile__.--right-left
                +e.name #[span Sasha Ivanova, #[sup 1]]<br> CEO & Founder
                +e.image
                    +e.IMG.photo(src="/images/creators/sasha.jpg")
                    +e.IMG.mark--1(src="/images/creators/marks/round.svg")
                +e.text
                    p Sasha is an IT-engineer by education who moved to Latin America. In 2017 she enrolled the biggest online remote school for editors in CIS, where got into tech writing and soon won a prize for an article about blockchain. Since then she has gone from a blockchain startup writer to bizdev and product manager.
                    p It is thanks to Argentinian journalists community Sasha went were they were, with all the pains and needs — and suddenly ideated a “blue ocean” of rights protection.
            +e.item.profile__.--left-right
                +e.name #[span Valeriia Panina, #[sup 2]]<br> CEO & Founder
                +e.image
                    +e.IMG.photo(src="/images/creators/valeriia.jpg")
                    +e.IMG.mark--2(src="/images/creators/marks/wave.svg")
                +e.text
                    p Valeriia holds a BA in linguistics, and is engaged with design. She finished and managed a school for editors/designers where she met Sasha but in 2017 became keep on the world of crypto. Soon a side gig transformed into full occupation: as contend designer at a fintech media outlet, managing editor in an analytical agency, and now — dedication for SharpShark.
                    p After a “Hey, who can tune up some raw prototype?”–call in the alumni chat, Valeriia fully embarked the project.
            +e.item.profile__.--right-left
                +e.name #[span Gilbert Gonzalez,]<br> Chief Techical Officer
                +e.image
                    +e.IMG.photo(src="/images/creators/gilbert.jpg")
                    +e.IMG.mark--3(src="/images/creators/marks/square.svg")
                +e.text
                    p Gilbert is a senior full stack programmer with over 20 years of experience. His fintech journey roots from Venezuela and Goldman Sash. In part, there he developed a payment system. Later he moved tp Buenos-Ares, got interested in blockchain and tokenization. One of his products is “Tokenizate Core” — a tool to tokenuze anything.
                    p When he saw the SarpShark concept, he so much that agreed to become the CTO.
            +e.item.profile__.--left-right
                +e.name #[span German Guismondi,]<br> Sales & Negotiator
                +e.image
                    +e.IMG.photo(src="/images/creators/german.jpg")
                    +e.IMG.mark--4(src="/images/creators/marks/triangle.svg")
                +e.text
                    p German is senior sales and negotiator. He came into blockchain in 2016 and since then established himself as one of the most credible experts in Argentina. Should a journalist need an expert’s take — they consult German. Should the team need to meet a particular official, they call Gernam and he negotiates any meeting.
                    p As for SharpShark, German was the person to get the first contract for developopment of a copyright protection tool for the Argentinian journalists’ union.
        +e.join
            +e.A(href="#").wrapper
                h5 Join the white list #[span →]
                p for α-testing