+b.SECTION.creators
    +e.container.container
        +e.H2.title.title Who is behind SharpShark
        +e.text
            p It all started in December 2018: Sasha#[sup 1] came up with the idea, expanded and transferred a conventional timestamping method onto Blockchain. Her alumni Valeriia#[sup 2] helped to visualize it, Gilbert#[sup 3] brought all of this to life (tokenizing everything that could be tokenized), and German#[sup 4] found the first clients.
        +e.list
            +e.item.profile__.--right-left
                +e.name #[span Sasha Ivanova, #[sup 1]]<br> CEO & Founder
                +e.image
                    +e.IMG.photo(src="/images/creators/sasha.jpg")
                    +e.IMG.mark--1(src="/images/creators/marks/round.svg")
                +e.text
                    p Sasha is an IT-engineer by education who moved to Latin America. In 2017 she enrolled the biggest online remote school for editors in CIS, where got into tech writing and soon won a prize for an article about blockchain. Since then she has gone from a blockchain startup writer to bizdev and product manager.
                    p It is thanks to a community of Argentinian journalists that Sasha went where they were, with all these problems and issues — and suddenly came up with the “blue ocean” idea of rights protection.
            +e.item.profile__.--left-right
                +e.name #[span Valeriia Panina, #[sup 2]]<br> CEO & Founder
                +e.image
                    +e.IMG.photo(src="/images/creators/valeriia.jpg")
                    +e.IMG.mark--2(src="/images/creators/marks/wave.svg")
                +e.text
                    p Valeriia holds a BA in linguistics and is involved with design. She studied at and managed a school for editors/designers where she met Sasha, but in 2017 she became keen on the world of crypto. Soon a side gig transformed into full occupation: as a content designer at a fintech media outlet, managing editor at an analytical agency, and now — dedicated to SharpShark.
                    p After a “Hey, who can tune up some raw prototype?” call in the alumni chat, Valeriia fully got on board with the project.
            +e.item.profile__.--right-left
                +e.name #[span Gilbert Gonzalez,]<br> Chief Technical Officer
                +e.image
                    +e.IMG.photo(src="/images/creators/gilbert.jpg")
                    +e.IMG.mark--3(src="/images/creators/marks/square.svg")
                +e.text
                    p Gilbert is a senior full stack programmer with over 20 years of experience. His fintech journey has roots in Venezuela and Goldman Sachs. In part, it was there he developed a payment system. Later he moved to Buenos-Aires and got interested in blockchain and tokenization. One of his products is “Tokenizate Core” — a tool to tokenize anything.
                    p When he saw the SharpShark concept, he quickly agreed to become the CTO.
            +e.item.profile__.--left-right
                +e.name #[span German Guismondi,]<br> Salesman & Negotiator
                +e.image
                    +e.IMG.photo(src="/images/creators/german.jpg")
                    +e.IMG.mark--4(src="/images/creators/marks/triangle.svg")
                +e.text
                    p German is a senior specialist in sales and negotiating. He came into blockchain in 2016 and since then established himself as one of the most credible experts in Argentina. Should a journalist need an expert’s take — they consult German. Should the team need to meet a particular official, they call German and he negotiates any meeting.
                    p As for SharpShark, German was the person to get the first contract for the development of a copyright protection tool for the Argentinian journalists’ union.
        +e.join
            +e.A(href="#").wrapper
                h5 Join the white list #[span →]
                p.mobile for α-testing
                p.desktop for alpha-testing