+b.SECTION.gratitude
    +e.container.container
        +e.content
            +e.wrapper
                +e.H2.title & Great, great thanks to...
                +e.list
                    +e.item #[span Maxim Ilyahov,] the head teacher of the school of editors  who gave us the ticket to the profession and tuned mindset
                    +e.item #[span Vladimir Belyaev,] the professor of law: for introducing the concept, after which it сlicked in our heads
                    +e.item #[span Dmitriy Sokolov,] the most careful front-ender
                    +e.item #[span Yuriy Osipov,] creator of WOWcube and patent law mentor
                    +e.item #[span Pablo Romero and Eliptica,] who developed the very first prototype
                    +e.item #[span Mariana Mordacovic,] chairman of the Cispren Journalists Union
                    +e.item #[span Cesar Arese,] Cispren's copyright attorney
                    +e.item All media and journalists who showed interested in the concept and to tried it
