+b#how-works.SECTION.how-authorship
    +e.container.container
        +e.H2.title--mobile.title How It works
        +e.H2.title--desktop.title How To Prove Authorship
        +e.content--top
            +e.text--left.text
                p To prove authorship, one has to #[span fulfill three requirements:]
                ol
                    li Identify the creator;
                    li Show a trusted timestamp;
                    li Guarantee the inviolability of the work.
                p This is the basis of the SharpShark mechanism.
            +e.text--right.text
                p #[span Intellectual proreprty] is an example of property (economic) rights and it can be transferred.<br> #[span The right to be named] is an instance of non-property (moral) rights and can’t be transferred.<br> #[b Together they make the authors’ rights.]
        +e.content--bottom.blue-section__
            +e.pattern.pattern--white
            +e.text--bottom.text
                h4 Why protection of authorship is a pain
                p The author’s rights materialize the moment an artwork is recorded (as a paper sketch, document draft, etc.). But in real life it’s almost impossible to simultaneously prove all three aspects — i.e., that that very person created that artwork at that very moment — without taking preventive measures. That’s why it’s essential to protect the artwork from day one.
                p One major pitfall are the protection tools: mail timestamping isn’t reusable, copyright deposits are costly and no digital timestamping service records the case of the artwork.
                p SharpShark offers an instant and bulletproof solution to prove authorship: the author’s name and the form of the artwork are captured in the NEM blockchain and IPFS forever and therefore immune to changes.