+b.how-authorship
    +e.container.container
        +e.title--mobile.title How It works
        +e.title--desktop.title How To Prove Authorship
        +e.content--top
            +e.text--left.text
                p To prove the authorship, one has to #[span fulfill three requirements:]
                ol
                    li Identify the creator;
                    li Demonstrate a trusted timestamp;
                    li Guarantee the inviolability of the work.
                p This is the basis for SharpShark mechanism.
            +e.text--right.text
                p #[span Intellectual proreprty] is an instance of the prorepty (economic) rights, and it can be transferred.<br> #[span Right to name] is an instance of non-prorety (moral) rights, and can’t be trensferred.<br> #[b Together they make the authors’ rights.]
        +e.content--bottom.blue-section__
            +e.pattern.pattern--white
            +e.text--bottom.text
                h4 Why protection of authorship is a pain
                p The author’s rights emerge the moment an artwork is recorded (as a paper sketch, document draft, etc.) But in real life it’s almost impossible to simultaneosly prove all three aspects — i.e., that the very person created the very artwork on that very moment — without prior precauciations. That’s why it’s essential to protect the artwork from the day one.
                p The major pitfall is the protection tool: mail timestamping isn’t reusable, copyright deposit is costly, and no digital timestamping service records the instance of the artwork.
                p SharpShark offers an instant and bulletproof solution to prove the authorship: the author's name and the form of artwork are captured in the NEM blockchain and IPFS (InterPlanetary File System) for good and thus become ever immune to changes.