include ../bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })
+b#main.main
    +e.container.container
        +e.content
            +e.text
                img(src="/images/logo.svg")
                p SharpShark is a #[a(href="#") blockchain-powered #[i 1]]  timestamping service that helps to protect copyright and to transfer intellectual property.
                p It’s designed for #[a(href="#") creators #[i 2]:] writers, academics and journalists, photographers and designers. It already can record texts and images in blockchain with the author, making them immune — in other words, #[b timestamp, save in full and, thus, tokenize intellectual property.]
                p #[a(href="#") Now #[i 3]] we are teaching AI to seek plagiarism 24/7, accelerating in Statup Chilie and refining the product to meet new European lawsuit.
