+b.SECTION.plans
    +e.container.container
        +e.H2.title.title #[sup 3]Big Plans&Accomplishments
        +e.list
            +e.item
                h3 Done.....................................................................................
                p Proof-of-Concept (ideated and prototyped);</br> Tests with Cispen, the journalists’ union;</br> Elaboration of the idea to cover images as well;</br> Certificate generation, i.e., tokenization of intellectual property;</br> Blockchain of five nods.
            +e.item
                h3 Now......................................................................................
                p Castdevs, pivots, user tests;</br> Further desing and development  of the alfa-version;</br> Participation in the Startup Chilie accelerator;</br> Preservig 100% of equity;</br> Product is being patented.
            +e.item
                h3 Soon......................................................................................
                p Verification;</br> Antiplagiarism and auto-disputes;</br> Auto-request for quotation via smart-contracts;</br> Introduction to the European Parliament.

