+b#plans.SECTION.plans
    +e.container.container
        +e.H2.title--desktop.title #[sup 3]Big Plans & Accomplishments
        +e.H2.title--mobile.title #[sup 3]Big Plans
        +e.list
            +e.item
                h3 Done.....................................................................................
                ul
                    li Proof-of-Concept (ideated and prototyped).
                    li Tests with Cispen, the journalists’ union.
                    li Elaboration of the idea to cover images as well.
                    li Certificate generation, i.e., tokenization of the intellectual property.
                    li Blockchain of five nodes.
            +e.item
                h3 Now......................................................................................
                ul
                    li Customer development sessions and pitches.
                    li Further design and development of the alfa-version, tests with a 30-member focus group.
                    li Participation in the Start-Up Chile accelerator, preserving 100% of the equity.
                    li Product is being patented on the US market.
            +e.item
                h3 Soon......................................................................................
                ul
                    li Verification.
                    li Anti-plagiarism and auto-disputes.
                    li Auto-requests for quotations via smart-contracts.
                    li Introduction to the European Parliament.
