+b.SECTION.users
    +e.container.container
        +e.H2.title.title #[sup 2] What The Users Are
        +e.lists.text
            +e.list
                b Writers & Journalists
                ul.big
                    li Detect plagiarism,
                    li Prevent copyright violations,
                    li Generate portfolio.
            +e.list
                b Academics
                ul.big
                    li Establish priority of findings,
                    li Prevent academic misconduct,
                    li Punish sneakers.
            +e.list
                b Photographers, artists, designers
                ul.big
                    li Keep track of the creation of the artworks and prove priority for them.
        +e.text.blue-section__
            +e.pattern.pattern--white
            +e.text.text
                h4 For every author
                p All creators can transfer the property (or economic rights) with their non-property right to name (or moral rights) ensured, since all the data — content, copyright, and timestamp — is enclosed in the token.