+b.SECTION.ways-authorship
    +e.container.container
        +e.H2.title.title Ways To Prove Authorship
        +e.text.text
            ol
                li
                    p #[span So, the author has an idea, which he then brings to life.] From now on, the idea — in the form of an artwork — becomes the subject of copyright. And, thus, is vulnerable to theft.
                li
                    p #[span To protect it in advance…]
                    +e.section--left
                        b ... in a Centralized manner
                        p the author generally has two options:
                        ul
                            li mail it to themselves (to timestamp the time and form of the work);
                            li make a copyright deposit.
                    +e.section--right
                        b #[sup 1]... in a Decentralized manner
                        p the author signs up to the SharpShark service, records the artwork and generates a digital certificate.
                        i The certificate contains:
                        ul
                            li
                                i the name & date of the creation, recorded in the NEM blockchain.#[sub ←]
                            li
                                i the full artwork is recorded in the IPFS (InterPlanetary File System). #[sub →]
                li
                    p #[span Now, in the event of a dispute, the author has an evidence.]
                    +e.section--pre-border
                        b.small Centralized:
                        p Mail timestamping isn’t reusable (the envelope needs to be sealed), and copyright deposit services are usually quite costly.
                    +e.section--border
                        b.small Decentralized:
                        p Reusable, comprehensive and unchangeable evidence is instantly available through link.