+b.ways-authorship
    +e.container.container
        +e.title.title Ways To Prove Authorship
        +e.text.text
            ol
                li
                    p #[span So, an author captures an idea.] From now on, the idea — in the form of artwork! — becomes the subject of copyright. And, thus, is vulnerable to stealing.
                li
                    p #[span To protect it in advance…]
                    +e.section--left
                        b ... in a Centralized manner
                        p the author generally has two options:
                        ul
                            li mail it to oneself (to timestamp the time and form of the work);
                            li make a copyright deposit.

                    +e.section--right
                        b #[sup 1]... in a Decentralized manner
                        p the author signs up to SharpShark service, records the artwork and generates a digital certificate.
                        i The certificate contains:
                        ul
                            li
                                i name&date of creation, recorded in the NEM blockchain;#[sub ←]
                            li
                                i the full artwork, recorded in the IPFS (InterPlanetary File System) #[sub →]
                li
                    p #[span Now, in case of dispute, the author has an evidence.]
                    +e.section--pre-border
                        b.small Centralized:
                        p But mail timestamping isn’t reusable (the envelope should be sealed), and a copyright deposit services are usually costly.
                    +e.section--border
                        b.small Decentralized:
                        p An instant, reusable, comprehensive and immutable evidence is now at link.