* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

section {
  width: 100%;
  height: 100vh;
  background: url(../img/pt.png) repeat;
  padding: 100px 0; }
  section .form-btn {
    text-decoration: none;
    display: block;
    width: 25%;
    margin: 0 auto;
    background-color: #ffc800;
    padding: 15px 30px;
    color: #000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    margin-bottom: 50px; }
    section .form-btn:hover {
      background-color: #000;
      color: #ffc800; }

.text-btn {
  width: 100px;
  height: 100px;
  display: inline-block; }
  .text-btn img {
    width: 100%; }

.btn-box {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.modal-form {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 200, 0, 0.4);
  padding: 100px 0;
  display: none; }

form {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 20%;
  background-color: #FFF;
  padding: 20px 30px;
  position: relative;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  form input {
    display: block;
    width: 100%;
    font-family: 'Open Sans';
    border: none;
    border-bottom: 1px solid #aeaeae;
    margin-bottom: 10px;
    outline: none; }
  form h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Open Sans'; }
  form p {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    width: auto;
    margin-bottom: 30px; }

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: 10px;
  vertical-align: middle; }

button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffc800;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 7px;
          border-radius: 7px; }
  button:hover {
    background-color: #000;
    color: #ffc800; }

.close {
  text-decoration: none;
  position: absolute;
  top: -32px;
  right: -25px;
  font-size: 30px; }
  .close:hover {
    color: #ffc800; }

.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.active_back {
  display: block; }

svg {
  max-width: 100%; }

.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -o-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s; }

.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0; }

.cd-modal svg > path {
  fill: #ffc800; }

.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -o-transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s; }

.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -o-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -o-transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -o-transition: opacity 0.3s 0s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0; }

.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em; }
  .cd-modal-content p {
    font-size: 20px;
    color: #000; }
  .cd-modal-content h3 {
    font-size: 30px; } }

.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  -o-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s; }

.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s; }
